<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>board</title>
    <link rel="stylesheet" href="/css/together/board.css">
    <script src="https://kit.fontawesome.com/39f6050202.js" crossorigin="anonymous"></script>

   
</head>
<body>
    <main>
        <header>
            <section>
              <img src="/images/original_16.png" alt="로고이미지" width="80rem">
            </section>
          
            <section>
              <article>
                <a href="#">로그아웃</a>
              </article>
          
              <article>
                <a href="#">마이페이지</a>
              </article>
          
              <article>
                <a href=""><img src="/images/profileImgEx.png" alt="프로필 이미지" width="50rem"></a>
              </article>
            </section>
          </header>




    <div class="board_wrap">

        <div class="board_title">
            <strong>같이 먹어요</strong>
            <p>같이 먹을 사람들 모집</p>
        </div>




        <div class="board_write_wrap">
          
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><pre>치킨 같이 먹어요</pre></dd>
                    </dl>
                </div>




                
                <div class="info">
                    <dl>
                        <dt>참여인원</dt>
                        <dd><pre>3/6</pre></dd>
                    </dl>
                    <dt>날짜 및 시간</dt>
          
                    <dd><pre>2023-10-23 오후 1:00</pre></dd>
                              
                      </label>
                </div>




                <div class="cont">
       
                  <dd><pre>치킨</pre></dd>
                </div>

              
            </div>

            <a href="posting"> <button id="insertBtn">글쓰기</button>  </a>


          <div class="btn"></div>
            <a href="posting"> <button type="button" class="btn2">수정하기</button></a>
          </div>
  

        </div>
    </div>










    <footer>
      <article>
        <a href="#">고객센터</a>
        <span>|</span>
        <a href="#">라이센스</a>
      </article>
      <article>
        &copy Oliview Corp.
      </article>
    </footer>
  
</main>


</body>
</html>