<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>board</title>
    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" href="/css/together/board.css">
    <script src="https://kit.fontawesome.com/39f6050202.js" crossorigin="anonymous"></script>

   
</head>
<body>
    <main>
    <!-- header -->
    <th:block th:replace="~{common/header}"></th:block>



    <div class="board_wrap" th:object ="${together}">

        <div class="board_title">
            <strong>같이 먹어요</strong>
            <p>같이 먹을 사람들 모집</p>
        </div>


          <div class="board_write_wrap">
          
            <div class="board_write">
              <div class="title">
                <dl>
                  <dt>제목</dt>
                  <dd><pre th:text="*{boardTitle}">치킨 같이 먹어요</pre></dd>
                </dl>
                <dl>
                  <dt>날짜 및 시간</dt>
                  <dd><pre th:text="*{mettingDate}"></pre></dd>
                </dl>
              </div>

              <div class="info">
                <dl>
                    <dt>희망인원</dt>
                    <dd><pre th:text="|*{currentPeople}/*{maxPeople}|">6</pre></dd>
                </dl>
                <dt>글 작성일</dt>
                <dd><pre th:text="*{dateCreated}"></pre></dd>S
                            
              </div>

              <!-- 이미지 -->
              <div t>
                <img class="boardImg" th:src="*{boardImg}">
              </div>
              
              <!-- 내용 -->
              <div class="cont">
                
                <pre th:text="*{boardContent}" >치킨</pre>
              </div>
              
            </div>

            <!-- 버튼 기능 구현-->
            <div class="btn-contents">
            
              <div class="btn-1">
                <button class="reportBtn"><a onclick="openReportPopup()">
                신고하기</a></button>
              </div>
            
            
              <div class="btn-2">
                <button class="invenBtn" id="invenBtn">목록으로</button>
              </div>
            
              <div class="btn-3" th:if="${session.loginMember != null and session.loginMember.memberNo == together.memberNo}">
                <button class="updateBtn" id="updateBtn">수정하기</button>
              </div>
              
              <div class="btn-4" th:if="${session.loginMember != null and session.loginMember.memberNo == together.memberNo}">
                <button class="deleteBtn2" id="deleteBtn2">삭제하기</button>
              </div>
            
              <div class="btn-5" th:if="${session.loginMember != null}">
                <a th:href="@{/chatting/talk/{boardNo}(boardNo=${boardNo})}"><button class="deleteBtn" id="deleteBtn">참여하기</button></a>
              </div>
        
            </div>
                
          </div>
          

    </div>


    <th:block th:replace="~{common/footer}"></th:block>


  </main>
  
  
  <script th:inline = "javascript">
    const boardNo = /*[[${together.boardNo}]]*/ "게시글번호";
    
    // session에 세팅된 loginMember 존재 여부 확인
    const loginCheck = /*[[${session.loginMember!=null ? true : false}]]*/ "로그인 여부";


    
  </script>
  
  <script src="/js/together/board.js"></script>
</body>
</html>