<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>talk chat</title>
  <link rel="stylesheet" href="/css/together/chat.css">
  <script src="https://kit.fontawesome.com/39f6050202.js" crossorigin="anonymous"></script>
</head>
<body>
 <main>
    <!-- header -->
    <th:block th:replace="~{common/header}"></th:block>

    <div class = "con">

      <!-- 채팅목록-->
      <div>

        <div class="title">
          <h1>대화 목록</h1>
        </div>

        <ul>
          <!-- 커비 채팅 -->   
          <li>
            <img src="/images/톡커비.JPG" alt="커비">
            <div class="profile">
              <p class="friend-name">커비</p>
              <p class="chat-content">하압하압하압하압하압하압하압하압하하압하하압하하압하압하압하압하압하압하압하압</p>
            </div>
          <div class="chat-status">
            <time datetime="15:40:00+09:00">오후 3:40</time>
            <span class="chat-balloon">1</span>
          </div>
          </li>

          <!--핑구 채팅 -->
          <!-- <li>
            <img src="/Oliview/src/main/resources/static/images/톡핑구.JPG" alt="핑구">
            <div class = "profile">
              <p class="friend-name">핑구</p>
              <p class="chat-content">눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕눕</p>
            </div>
            <div class="chat-status">
              <time datetime="15:39:00+09:00">오후 3:39</time>
              <span class="chat-balloon">1</span>
            </div>
          </li> -->

          <!-- 햄토리 채팅 -->
          <!-- <li>
            <img src="/Oliview/src/main/resources/static/images/톡햄토리.JPG" alt="햄토리">
            <div class="profile">
              <p class="friend-name">햄토리</p>
              <p class="chat-content">해바라기씨해바라기씨해바라기씨해바라기씨해바라기씨해바라기씨</p>
            </div>
            <div class="chat-status">
              <time datetime="15:39:00+09:00">오후 3:39</time>
              <span class="chat-balloon">1</span>
            </div>
          </li> -->

          <!-- 피카츄 채팅-->        
          <!-- <li>
            <img src="/Oliview/src/main/resources/static/images/톡피카츄.JPG" alt="피카츄">
            <div class="profile">
              <p class="friend-name">피카츄</p>
              <p class="chat-content">전기 팔아요 전기 팔아요  전기 팔아요 아요 전기 팔아요 전기 팔아요 </p>
            </div>
            <div class="chat-status">
              <time datetime="15:39:00+09:00">오후 3:39</time>
              <span class="chat-balloon">1</span>
            </div>
          </li> -->

          <!-- 호빵맨 채팅-->
          <!-- <li>
            <img src="/Oliview/src/main/resources/static/images/톡호빵맨.JPG" alt="호빵맨">
            <div class="profile">
              <p class="friend-name">호빵맨</p>
              <p class="chat-content">팔아요  호빵 팔아요. 호빵 팔아요호빵 팔아요호빵 팔아요호빵 팔아요</p>
            </div>
            <div class="chat-status">
              <time datetime="15:39:00+09:00">오후 3:39</time>
              <span class="chat-balloon">1</span>
          </div>
          </li> -->


          <!-- 파이리 채팅-->
          <!-- <li>
            <img src="/Oliview/src/main/resources/static/images/톡파이리.JPG" alt="파이리">
            <div class="profile">
              <p class="friend-name">파이리</p>
              <p class="chat-content">불꽃 팝니다 불꽃 팝니불꽃 팝니다불꽃 팝니다불꽃 팝니다불꽃 팝니다</p>
            </div>
            <div class="chat-status">
              <time datetime="15:39:00+09:00">오후 3:39</time>
              <span class="chat-balloon">1</span>
            </div>
          </li> -->
        </ul>
      </div>
    </div>

  </main>
  
  <!-- footer -->
  <th:block th:replace="~{common/footer}"></th:block>

  
</body>

</html>