<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>같이먹어요 게시판 목록</title>
  <link rel="stylesheet" href="/css/together/inven.css">
  <th:block th:replace="~{common/common}"></th:block>
</head>

<body>
  <main th:with = "boardList = ${map.boardList}, pagination=${map.pagination}">
    <!-- header -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- 제목 및 부제목 -->
    <div class="board_wrap">

      <div class="board_title">
        <strong>같이 먹어요</strong>
        <i class="fa-solid fa-utensils"></i>
        <p> ->같이 먹을 사람들을 모집하는 게시판<- </p>
      </div>






      <!--상단 번호, 제목, 작성자, 작성일, 조회수-->
      <div class="board_list_wrap">
        <div class="board_list">
          <div class="top">
            <div class="num">번호</div>
            <div class="title">제목</div>
            <div class="people">참여인원</div>
            <div class="writer">작성자</div>
            <div class="date">작성일</div>
            <div class="count">조회</div>
          </div>


          <div th:each="board : ${boardList}">
            <div class="num" th:text = "${board.boardNo}"></div>
            <div class="title"><a th:href="@{/together/{boardNo}(boardNo=${board.boardNo},cp=${pagination.currentPage}, key= ${param.key}, query=${param.query})}" 
               th:text = "${board.boardTitle}"></a></div>
            <div class="people" th:text = "|${board.currentPeople}/${board.maxPeople}|">0/100</div>
            <div class="writer"  th:text = "${board.memberNickname}">파이리</div>
            <div class="date"  th:text = "${board.dateCreated}">2021.1.15</div>
            <div class="count"  th:text = "${board.readCount}">33</div>
          </div>
          <a href="/editTogether/posting"> <button id = "insertBtn">글쓰기</button></a>
        </div>



     
      
      <!--Pagination 페이지 숫자-->
      <div class="pagination-area" th:if ="${#lists.size(boardList) > 0}">
        
        <!-- 검색 x -->
        <ul class="pagination">

          <li><a th:href="@{/together/inven(cp=1, key= ${param.key}, query=${param.query})}">&lt;&lt;</a></li>
       


          <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
              <li th:if="${i == pagination.currentPage}">
                <a class="current" th:text="${i}">1</a>
              </li>              
              <li th:unless="${i == pagination.currentPage}"> 
                  <a th:href="@{/together/inven(cp=${i}, key= ${param.key}, query=${param.query})}" th:text="${i}">2</a>
              </li>
          </th:block>



          <li><a th:href="@{/together/inven(cp=${pagination.maxPage}, key= ${param.key}, query=${param.query})}">&gt;&gt;</a></li>
        </ul>
      </div>

      





    <!-- 검색창 -->
    <form th:action="@{{boardNo}(boardNo=${boardNo})}" method="get" id="boardSearch">
  
      <select name="key" id="searchKey">
        <option value="t">제목</option>
        <option value="c">내용</option>
      </select>
  
      <input type="text" name="query" id="searchQuery" placeholder="검색어를 입력해주세요.">
  
      <button>검색</button>
    </form>
  </main>

  <!-- 풋터 -->
  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/together/inven.js"></script>

</body>




</html>