<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>같이먹어요 게시판 목록</title>
    <link rel="stylesheet" href="/css/together/inven.css">
    <th:block th:replace="~{common/common}"></th:block>
</head>
<main>

        <!-- 로그인 후 header -->
        <header>
          <section>
            <img src="/images/original_16.png" alt="로고이미지" width="80rem">
          </section>
    
          <section>
            <article>
              <a href="#">로그아웃</a>
            </article>
    
            <article>
              <a href="#">마이페이지</a>
            </article>
    
            <article>
              <a href=""><img src="/images/profileImgEx.png" alt="프로필 이미지" width="50rem"></a>
            </article>
          </section>
    
        </header>
    

  </header>


<body>

    <!-- 제목 및 부제목 -->
    <div class="board_wrap">

        <div class="board_title">
            <strong>같이먹어요</strong>
            <p>같이 먹을 사람들을 모집하는 게시판</p>
        </div>


        <!--상단 번호, 제목, 작성자, 작성일, 조회수-->
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="people">참여인원</div>
                    <div class="writer">작성자</div>
                    <div class="date">작성일</div>
                    <div class="count">조회</div>
                </div>


           <!-- 글 작성 -->     
                <div>
                    <div class="num">5</div>
                    <div class="title"><a href="board">불닭</a></div>
                    <div class="people">0/100</div>
                    <div class="writer">파이리</div>
                    <div class="date">2021.1.15</div>
                    <div class="count">33</div>
                </div>


                <div>
                    <div class="num">4</div>
                    <div class="title"><a href="board">딸기케이크</a></div>
                    <div class="people">0/100</div>
                    <div class="writer">커비</div>
                    <div class="date">2021.1.15</div>
                    <div class="count">33</div>
                </div>


                <div>
                    <div class="num">3</div>
                    <div class="title"><a href="board">호빵과 붕어빵</a></div>
                    <div class="people">0/100</div>
                    <div class="writer">호빵맨</div>
                    <div class="date">2021.1.15</div>
                    <div class="count">33</div>
                </div>


                <div>
                    <div class="num">2</div>
                    <div class="title"><a href="board">곱창 드실 분</a></div>
                    <div class="people">0/100</div>
                    <div class="writer">피카츄</div>
                    <div class="date">2021.1.15</div>
                    <div class="count">33</div>
                </div>


                <div>
                    <div class="num">1</div>
                    <div class="title"><a href="board">빙수 먹으실 분</a></div>
                    <div class="people">0/100</div>
                    <div class="writer">핑구</div>
                    <div class="date">2021.1.15</div>
                    <div class="count">33</div>
                </div>
            </div>

            <!--Pagination 페이지 숫자-->
            <div class="board_page">
                <a href="#" class="bt first"><<</a>
                <a href="#" class="bt prev"><</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="bt next">></a>
                <a href="#" class="bt last">>></a>


            </div>

            <a href="posting"> <button id="insertBtn">글쓰기</button>  </a>
                               
          </div>

            <div class="bt_wrap">
        
                <!--<a href="#">수정</a>-->
            </div>
            
        </div>
        
    </div>
  </main>

  <!-- 검색창 -->
  <form th:action="@{{boardCode}(boardCode=${boardCode})}" method="get" id="boardSearch">

    <select name="key" id="searchKey">
        <option value="t">제목</option>
        <option value="c">내용</option>
        <option value="tc">제목+내용</option>
        <option value="w">작성자</option>
    </select>

    <input type="text" name="query"  id="searchQuery" placeholder="검색어를 입력해주세요.">

    <button>검색</button>
</form>

</body>
</main>

<th:block th:replace="~{common/footer}"></th:block>

  <!-- footer -->
    <footer>
      <article>
        <a href="#">고객센터</a>
        <span>|</span>
        <a href="#">라이센스</a>
      </article>
      <article>
        &copy Oliview Corp.
      </article>
    </footer>

    </html> 