<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>같이먹어요 게시판 목록</title>
  <link rel="stylesheet" href="/css/together/inven.css">
  <th:block th:replace="~{common/common}"></th:block>
</head>

<body>
  <main th:with = "boardList = ${map.boardList}, pagination = ${map.pagination}">
    <!-- header -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- 제목 및 부제목 -->
    <div class="board_wrap">

      <div class="board_title">
        <strong>같이먹어요</strong>
        <p>같이 먹을 사람들을 모집하는 게시판</p>
      </div>


      <!--상단 번호, 제목, 작성자, 작성일, 조회수-->
      <div class="board_list_wrap">
        <div class="board_list">
          <div class="top">
            <div class="num">번호</div>
            <div class="title">제목</div>
            <div class="people">참여인원</div>
            <div class="writer">작성자</div>
            <div class="date">작성일</div>
            <div class="count">조회</div>
          </div>


          <div th:each="board : ${boardList}">
            <div class="num" th:text = "${board.boardNo}"></div>
            <div class="title"><a th:href="${board.boardNo}" th:text = "${board.boardTitle}"></a></div>
            <div class="people" th:text = "${board.numberPeople}">0/100</div>
            <div class="writer"  th:text = "${board.memberNickname}">파이리</div>
            <div class="date"  th:text = "${board.dateCreated}">2021.1.15</div>
            <div class="count"  th:text = "${board.readCount}">33</div>
          </div>

        </div>

        <!--Pagination 페이지 숫자-->
        <div class="board_page">
          <a href="#" class="bt first">
            <<< /a>
              <a href="#" class="bt prev">
                << /a>
                  <a href="#" class="num on">1</a>
                  <a href="#" class="num">2</a>
                  <a href="#" class="num">3</a>
                  <a href="#" class="num">4</a>
                  <a href="#" class="num">5</a>
                  <a href="#" class="bt next">></a>
                  <a href="#" class="bt last">>></a>


        </div>

        <a href="posting"> <button id="insertBtn">글쓰기</button> </a>

      </div>

      <div class="bt_wrap">

        <!--<a href="#">수정</a>-->
      </div>

    </div>

    </div>
  </main>

  <!-- 검색창 -->
  <form th:action="@{{boardCode}(boardCode=${boardCode})}" method="get" id="boardSearch">

    <select name="key" id="searchKey">
      <option value="t">제목</option>
      <option value="c">내용</option>
      <option value="tc">제목+내용</option>
      <option value="w">작성자</option>
    </select>

    <input type="text" name="query" id="searchQuery" placeholder="검색어를 입력해주세요.">

    <button>검색</button>
  </form>

</body>
</main>

<th:block th:replace="~{common/footer}"></th:block>

<!-- footer -->
<footer>
  <article>
    <a href="#">고객센터</a>
    <span>|</span>
    <a href="#">라이센스</a>
  </article>
  <article>
    &copy Oliview Corp.
  </article>
</footer>

</html>