<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>posting</title>
    <link rel="stylesheet" href="../../static/css/together/posting.css">
    <script src="https://kit.fontawesome.com/39f6050202.js" crossorigin="anonymous"></script>
   
</head>
<body>
    <main>
        <header>
            <section>
              <img src="/images/original_16.png" alt="로고이미지" width="80rem">
            </section>
          
            <section>
              <article>
                <a href="#">로그아웃</a>
              </article>
          
              <article>
                <a href="#">마이페이지</a>
              </article>
          
              <article>
                <a href=""><img src="/images/profileImgEx.png" alt="프로필 이미지" width="50rem"></a>
              </article>
            </section>
          </header>
    <div class="board_wrap">
        <div class="board_title">
            <h1>같이 먹어요 글쓰기</h1>
            <h2>같이 먹을 사람들 구합니다</h2>
        </div>


        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text"placeholder="제목 입력"></dd>
                    </dl>
                </div>




                
                 <!-- 참여인원 설정 -->
                 <div class="info">
                  <dl>
                      <dt>채팅방 인원 설정 (미체크 시 기본 100명)</dt>
                     
                        <label for="maxUserCnt" class="col-form-label">
                            <input class="form-check-input" type="checkbox" id="maxChk"></label>
                        <input type="text" class="form-control" id="maxUserCnt" name="maxUserCnt">
                          </dl>

                          

                    <dt>날짜 및 시간</dt>
                    <label for="date">
                        <input type="date"
                               id="date"
                               max="2077-06-20"
                               min="1900-06-05"
                               >
                               <input type="time" name="birthtime">    
                      </label>
                   

                     
                </div>

                  <!-- 업로드 이미지 -->
                  <h5>업로드 이미지</h5>
                  <div class="board_img">

                    <!-- img 1-->
                    <label for="img1">
                          <img class ="preview" src="">
                    </label>
                      <input type="file" name ="images" class="inputImage" id= img1 accept="image/*">
                      <span class = "delete_image">&times;</span>
                    </div>
                    
                    <!--img 2-->           
                    <div class="boardImg">
                    <label for="img2">
                          <img class = "preview" src="">
                    </label>
                    <input type="file" name = "images" class="inputImage" id = img2 accept ="image/*">
                    </div>


                  <!-- img3 -->
                  <div class="boardImg">
                  <label for="img3">
                        <img class= "preview" src="">
                  </label>
                  <input type="file" name = "images" class = "inputImage" id = img3 accept="image/*">
                  </div>


                  <!-- 내용 -->
                  <div class="cont">
                   
                      <textarea placeholder="내용 입력">
                       
                      </textarea>
                  </div>
              </div>

               
            </div>

            <div class="bt">
              <button>저장</button>
            </div>

        </div>
    </div>
    <footer>
      <article>
        <a href="#">고객센터</a>
        <span>|</span>
        <a href="#">라이센스</a>
      </article>
      <article>
        &copy Oliview Corp.
      </article>
    </footer>
</main>

</body>


</html>