<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>posting</title>
    <link rel="stylesheet" href="/inventory/css/posting.css">
    <script src="https://kit.fontawesome.com/39f6050202.js" crossorigin="anonymous"></script>
   
</head>
<body>
    <main>
        <header>
            <section>
              <img src="/images/original_16.png" alt="로고이미지" width="80rem">
            </section>
          
            <section>
              <article>
                <a href="#">로그아웃</a>
              </article>
          
              <article>
                <a href="#">마이페이지</a>
              </article>
          
              <article>
                <a href=""><img src="/images/profileImgEx.png" alt="프로필 이미지" width="50rem"></a>
              </article>
            </section>
          </header>
    <div class="board_wrap">
        <div class="board_title">
            <strong>같이 먹어요 글쓰기</strong>
            <p>같이 먹을 사람들 구합니다</p>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" placeholder="제목 입력" ></dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>참여인원</dt>
                      <input type="number" name="favnum" min="1" max="9" placeholder="0">         
                    </dl>


                    <dt>날짜 및 시간</dt>
                    <label for="date">
                        <input type="date"
                               id="date"
                               max="2077-06-20"
                               min="1900-06-05"
                               >
                               <input type="time" name="birthtime">    
                      </label>
                      

                     
                </div>




                <div class="cont">

                    <textarea placeholder="내용 입력">
                    </textarea>
                </div>
            </div>
            <div class="bt">
              <button>저장</button>
            </div>
        </div>
    </div>
    <footer>
      <article>
        <a href="#">고객센터</a>
        <span>|</span>
        <a href="#">라이센스</a>
      </article>
      <article>
        &copy Oliview Corp.
      </article>
    </footer>
</main>

</body>


</html>