<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신고하기</title>

  <link rel="stylesheet" th:href="@{/css/review/togetherReport.css}">
</head>

<body>

  <main>

    <form action="togetherReport" method="POST">

      <header>
        신고하기
      </header>

      <div class="report-conya">
        <div class="report-info" th:object="${together}">
          <div>작성자 | &nbsp;
            <section class="report-nickname"  th:text="*{memberNickname}">푸바오</section>
          </div>
          <div>게시글 | &nbsp;
            <section class="report-review" th:text="*{boardTitle}">칠리칠리</section>
          </div>
        </div>
      </div>


      <!-- 신고 내용 버튼 -->
      <div class="report-button">

        <ul style=" list-style-type: none;">
          <li><input type="radio" name="tReportContent" id="button-1" value="스팸홍보/도배글"> 스팸홍보/도배글</input></li>
          <li><input type="radio" name="tReportContent" id="button-2" value="음란물"> 음란물</input></li>
          <li><input type="radio" name="tReportContent" id="button-3" value="불법정보 포함"> 불법정보 포함</input></li>
          <li><input type="radio" name="tReportContent" id="button-4" value="청소년 유해 게시물"> 청소년 유해 게시물</input></li>
          <li><input type="radio" name="tReportContent" id="button-5" value="욕설/생명경시/혐오/차별적 표현"> 욕설/생명경시/혐오/차별적 표현</input></li>
          <li><input type="radio" name="tReportContent" id="button-6" value="개인정보 노출"> 개인정보 노출</input></li>
          <li><input type="radio" name="tReportContent" id="button-7" value="불쾌한 표현"> 불쾌한 표현</input></li>
          <li><input type="radio" name="tReportContent" id="button-8" value="명예훼손/저작권 침해"> 명예훼손/저작권 침해</input></li>
          <li><input type="radio" name="tReportContent" id="button-9" value="불법촬영물 포함"> 불법촬영물 포함</input></li>
        </ul>

      </div>


      <!-- 신고 버튼 -->
      <div class="submit">
        <button type="submit">신고하기</button>
      </div>

      <input type="hidden" name="boardNo" th:value="${together.boardNo}">
    </form>
  </main>


  <script src="/js/review/report.js"></script>

  <script></script>

</body>

</html>