<!-- 로그인 전 header -->
<header th:if="${session.loginMember == null}">
  <section>
    <a href="/"><img src="/images/logo.png" alt="로고이미지" width="170rem"></a>
  </section>

  <section>
    <article>
      <a href="/member/login">로그인</a>
    </article>

    <article>
      <a href="/member/signup">회원가입</a>
    </article>
  </section>

</header> 


<!-- 로그인 후 header-->
<header th:unless="${session.loginMember == null}">
  <section>
    <a href="/"><img src="/images/logo.png" alt="로고이미지" width="170rem"></a>
  </section>

  <section>
    <article>
      <a href="/member/logout">로그아웃</a>
    </article>

    <article>
      <a href="/myPage/profile">마이페이지</a>
    </article>

    <article>
      <a href=""><img src="/images/profileImgEx.png" alt="프로필 이미지" width="50rem"></a>
    </article>
  </section>

</header>

