<!-- 로그인 전 header -->
<header>
  <section>
    <a href="/"><img src="/images/logoSample.png" alt="로고이미지" width="80rem"></a>
  </section>

  <section>
    <article>
      <a href="login">로그인</a>
    </article>

    <article>
      <a href="signup">회원가입</a>
    </article>
  </section>

</header> 


<!-- 로그인 후 header
<header>
  <section>
    <a href="/"><img src="/images/logoSample.png" alt="로고이미지" width="80rem"></a>
  </section>

  <section>
    <article>
      <a href="#">로그아웃</a>
    </article>

    <article>
      <a href="#">마이페이지</a>
    </article>

    <article>
      <a href=""><img src="/images/profileImgEx.png" alt="프로필 이미지" width="50rem"></a>
    </article>
  </section>

</header> -->

