<!-- 로그인 전 header -->
<header th:if="${session.loginMember == null}">
  <section>
    <a href="/"><img src="/images/logo.png" alt="로고이미지" width="170rem"></a>
  </section>

  <section>
    <article>
      <a href="/member/login">로그인</a>
    </article>

    <article>
      <a href="/member/signup">회원가입</a>
    </article>
  </section>

</header> 


<!-- 로그인 후 header-->
<header th:unless="${session.loginMember == null}">
  <section>
    <a href="/"><img src="/images/logo.png" alt="로고이미지" width="170rem"></a>
  </section>

  <section>
    <article>
      <a href="/member/logout">로그아웃</a>
    </article>

    <article>
      <a href="/myPage/profile">마이페이지</a>
    </article>

    <article>
      <a href="/myPage/profile">
        <!-- 프로필 이미지가 없으면 기본 이미지(기본이미지는 STS messages.pro에 기재) -->
        <img th:if="${session.loginMember.memberProfile == null}"
        th:src="#{user.default.image}" alt="프로필 이미지" width="50rem">

        <!-- 프로필 이미지가 있으면 프로필 이미지 -->
        <img th:unless="${session.loginMember.memberProfile == null}"
        th:src="${session.loginMember.memberProfile}" alt="프로필 이미지" width="50rem"  height="50rem">
      </a>
    </article>
  </section>

</header>

