<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 관리</title>
    <link rel="stylesheet" th:href="@{/css/admin/memberList.css}">
    <th:block th:replace="~{common/common}"></th:block>
</head>

<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>
        <th:block th:replace="~{admin/adminSideMenu}"></th:block>
        
        <section class="conatiner">

            <p>회원 목록</p>

            <section id="member-index-container">
                <table id="member-table">
                    <tr id="member-table-row">
                        <th>회원 번호</th>
                        <th>ID</th>
                        <th>닉네임</th>
                        <th>이메일</th>
                        <th>가입일자</th>
                        <th>탈퇴여부</th>
                    </tr>

                    <tr th:if="${#lists.size(memberList) == 0}">
                        <td class="myPage-table-title" colspan="6">회원이 존재하지 않습니다.</td>
                    </tr>

                    <tr id="member-table-content" th:each="member : ${memberList}" th:object="${member}">
                        <td th:text="*{memberNo}">회원번호</td>
                        <td>

                            <a th:href="@{/admin/memberInfo(memberNo=*{memberNo})}" th:text="*{memberId}"></a>
                        </td>
                        <td th:text="*{memberNickname}">닉네임</td>
                        <td th:text="*{memberEmail}">이메일</td>
                        <td th:text="*{memberEnrollDate}">가입일자</td>
                        <td>
                            <th:block th:if="*{memberDelFl == 'N'}">활동</th:block>
                            <th:block th:if="*{memberDelFl == 'Y'}">탈퇴</th:block>
                        </td>
                    </tr>
                </table>
            </section>




        </section>

    </main>

    <th:block th:replace="~{common/footer}"></th:block>


</body>

</html>