<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/admin/memberInfo.css}">
    <th:block th:replace="~{common/common}"></th:block>
</head>

<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>

        <section id="navigation-container">
            <nav>
              <ul id="page-change-container">
                <li>
                  <a th:href="@{/admin/memberList}">회원 관리</a>
                </li>
                <li>
                  <a th:href="@{/admin/reviewList}">리뷰 게시판 관리</a>
                </li>
                <li>
                  <a th:href="@{/admin/togetherList}">같이 먹어요 게시판 관리</a>
                </li>
                <li>
                  <a th:href="@{/admin/reviewReportList}">리뷰 게시판 신고 목록</a>
                </li>
                <li>
                  <a th:href="@{/myPage/profile}">홈페이지로 돌아가기</a>
                </li>
              </ul>
            </nav>
          </section>
        
        <section id="content">
            <p id="list">회원 상세 정보</p>
        </section>
        <section id="content-area">
            <table th:object="${memberInfo}">
                <tr>
                    <td>회원 번호</td>
                    <td th:text="*{memberNo}">내용</td>
                </tr>
                <tr>
                    <td>회원 ID</td>
                    <td th:text="*{memberId}">내용</td>
                </tr>
                <tr>
                    <td>회원 이름</td>
                    <td th:text="*{memberName}"></td>
                </tr>
                <tr>
                    <td>회원 닉네임</td>
                    <td th:text="*{memberNickname}"></td>
                </tr>
                <tr>
                    <td>회원 이메일</td>
                    <td th:text="*{memberEmail}"></td>
                </tr>
                <tr>
                    <td>가입일</td>
                    <td th:text="*{memberEnrollDate}"></td>
                </tr>
    
                <tr>
                    <td>관리자 권한</td>
                    <td>
                        <th:block th:if="*{authority == 'N'}">일반 사용자</th:block>
                        <th:block th:if="*{authority == 'Y'}">관리자</th:block>
        
                        <th:block th:unless="*{authority == 'Y'}">
                            <form action="admin" method="POST" style="display:inline">
                                <input type="hidden" th:value="*{memberNo}" name="memberNo">
                                <button>관리자로 바꾸기</button>
                            </form>
                        </th:block>
    
                        <th:block th:if="*{authority == 'Y'}">
                            <form action="user" method="POST" style="display:inline">
                                <input type="hidden" th:value="*{memberNo}" name="memberNo">
                                <button>일반 사용자로 바꾸기</button>
                            </form>
                    </td>
                </tr>
    
                <tr>
                    <td>탈퇴 여부</td>
                    <td>
                        <th:block th:if="*{memberDelFl == 'N'}">활동</th:block>
                        <th:block th:if="*{memberDelFl == 'Y'}">탈퇴</th:block>
    
                        <th:block th:if="*{memberDelFl == 'N'}">
                            <form action="quit" method="POST" style="display:inline">
                                <input type="hidden" th:value="*{memberNo}" name="memberNo">
                                <button>탈퇴</button>
                            </form>
                        </th:block>
    
                        <th:block th:unless="*{memberDelFl == 'N'}">
                            <form action="restoration" method="POST" style="display:inline">
                                <input type="hidden" th:value="*{memberNo}" name="memberNo">
                                <span>삭제됨</span>
                                <button>복구</button>
                            </form>
    
                        </th:block>
                    </td>
                </tr>
    
    
            </table>
        </section>
    </main>

</body>
<th:block th:replace="~{common/footer}"></th:block>

</html>