<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 관리</title>
  <link rel="stylesheet" th:href="@{/css/admin/togetherList.css}">
  <th:block th:replace="~{common/common}"></th:block>
</head>

<body>
  <main>
    <th:block th:replace="~{common/header}"></th:block>

    <section id="navigation-container">
      <nav>
        <ul id="page-change-container">
          <li>
            <a th:href="@{/admin/memberList}">회원 관리</a>
          </li>
          <li>
            <a th:href="@{/admin/reviewList}">리뷰 게시판 관리</a>
          </li>
          <li>
            <a th:href="@{/admin/togetherList}">같이 먹어요 게시판 관리</a>
          </li>
          <li>
            <a th:href="@{/myPage/profile}">신고 게시판</a>
          </li>
          <li>
            <a th:href="@{/myPage/profile}">홈페이지로 돌아가기</a>
          </li>
        </ul>
      </nav>
    </section>

    <section class="conatiner">

      <p id="list">같이 먹어요 게시판 관리</p>

      <section id="report-index-container">
        <table id="report-table">
          <tr id="report-table-row">
            <th>게시판 번호</th>
            <th>제목</th>
            <th>회원 번호</th>
            <th>작성일</th>
            <th>신고</th>
            <th>관리</th>
          </tr>

          <tr th:if="${#lists.size(togetherList) == 0}">
            <th colspan="6"> 게시글이 존재하지 않습니다.</th>
          </tr>

          <tr id="report-table-content" th:each="together : ${togetherList}" th:object="${together}">
            <td th:text="*{boardNo}">번호</td>
            <td>
              <a th:href="@{/together/{boardNo}(boardNo=${board.boardNo},cp=${pagination.currentPage}, key= ${param.key}, query=${param.query})}" th:text="*{boardTitle}">게시글 제목</a>
            </td>
            <td th:text="*{memberNo}"></td>
            <td th:text="*{dateCreated}">작성일</td>
            <td></td>
            <td>
              <th:block th:if="*{boardDelFl == 'N'}">
                <button id="delBtn">삭제하기</button>
              </th:block>
              <th:block th:if="*{boardDelFl != 'N'}">
                <button id="returnBtn">복구하기</button>
              </th:block>
            </td>

          </tr>
        </table>
      </section>




    </section>

  </main>

  <th:block th:replace="~{common/footer}"></th:block>


</body>

</html>