<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{common/common}"></th:block>
    <title>채팅화면</title>
    <link rel="stylesheet" href="/css/chatting/talk.css">
</head>
<body>
  
  <main>
    <!-- header -->
    <th:block th:replace="~{common/header}"></th:block>

    <section class="hh">
      <h1>치킨같이먹어요</h1>
    </section>
    
    <section id="chatting-container">
      <div class="chatting-content">
        <ul class="display-chatting">

          <!-- 내 채팅 -->
          <!-- <li class="my-chat">
            <span class="chatDate">채팅시간</span>
            <p class="chat">채팅내용asdfsadfsfdsadfasdfasdfasdfasfasfasdfasfasfasdfsadafasfasfsadfsdsafsdfasdf</p>
          </li> -->

          <!-- 상대방 채팅 -->
          <!-- <li class="target-chat">
            <img src="/images/user.png"> --> <!-- 상대방 프로필 이미지// 이거맞음???아닌거같은데 확인!! -->

            <!-- <div>
              <b id="target-chat-nick">이번유저</b>	<br>
              <p class="chat">
                안녕하세요?? 반갑습니다. 가나다라가나다라가나다라가나다라가나다라가나다라가나다라가나다라가나다라가나다라가나다라가나다라가나다라가나다라가나다라
              </p>
              <span class="chatDate">채팅시간</span>
            </div>
         </li> --> 
          
        </ul>

      </div>

      <div class="input-area">
        <input type="text" id="inputChatting">
        <button onclick="readValue()" id="send">입력</button>
      </div>
    </section>
  </main>

  <!-- sockjs를 이용한 WebSocket 구현을 위해 라이브러리 추가 -->
	
	<!-- https://github.com/sockjs/sockjs-client -->
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

	<script th:inline="javascript">
		// 로그인한 회원 번호
		const loginMemberNo = /*[[${session.loginMember.memberNo}]]*/ '로그인회원번호';

		const userDefaultImage = /*[[#{user.default.image}]]*/ '기본 이미지' ;
	</script>

	<script src="/js/chatting/chat.js"></script>

</body>
</html>