* {
  margin: 0;
  padding: 0;
}


/* board 하나로 감싸기 */
.board_wrap {
  width: 1000px;
  margin: 100px auto;
}

/* 게시글 조절*/
.board_title {
  margin-bottom: 20px;
}

/* 제목과 부제목 조절 */
.board_title strong {
  font-size: 3rem;
}

.board_title p {
  margin-top: 1px;
  font-size: 1.4rem;
}


/* 버튼 위치*/
.btn {
  text-align: center;
  
}


/* 참여하기 버튼 */
.btn > .btn1{
  color: #66B97E;
    
  padding: 10px 30px;
}


/* 수정하기 버튼 */
.btn > .btn2{
  color: #66B97E;
    
  padding: 10px 30px;
}

/* 삭제하기 버튼 (작성자만 보이게)*/
.btn > .btn3{
  color: #66B97E;
    
  padding: 10px 30px;
}

/* 게시글 윗줄 초록색*/
.board_write {
  border-top: 2px solid #66B97E;
}


/* 제목과 참여인원 크기조절 */
.board_write .title,
.board_write .info {
  padding: 15px;
}


/* 게시글 중간줄 초록색*/
.board_write .info {
  border-top: 1px dashed #ddd;
  border-bottom: 2px solid #66B97E;
  font-size: 0;
}


/* 제목 글씨 사이즈 조절 */
.board_write .title dl {
  font-size: 0;
}

/* 참여인원 및 날짜 시간 조절*/
.board_write .info dl {
  display: inline-block;
  width: 50%;

}

/* 게시글 전체 글씨*/
.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
}


/* title 넓이 조절*/
.board_write .title dt,
.board_write .info dt {
  width: 100px;
}


/* 내용 적는 박스 조절 및 밑줄 색상*/
.board_write .cont {
  border-bottom: 2px solid #66B97E;
  width: 1010px;
  height: 500px;
  font-size: large;
  
}

