* {
  margin: 0;
  padding: 0;
}


/* board 하나로 감싸기 */
.board_wrap {
  width: 1000px;
  margin: 100px auto;
}

/* 게시글 조절*/
.board_title {
  margin-bottom: 20px;
}

/* 제목과 부제목 조절 */
.board_title strong {
  font-size: 3rem;
}

.board_title p {
  margin-top: 1px;
  font-size: 1.4rem;
}


/* 버튼 위치*/
.btn {
  text-align: center;
  
}


/* 참여하기 버튼 */
.btn > .btn1{
  color: #66B97E;
    
  padding: 10px 30px;
}


/* 수정하기 버튼 */
.btn > .btn2{
  color: #66B97E;
    
  padding: 10px 30px;
}

/* 삭제하기 버튼 (작성자만 보이게)*/
.btn > .btn3{
  color: #66B97E;
    
  padding: 10px 30px;
}

/* 게시글 윗줄 초록색*/
.board_write {
  border-top: 3px solid;
  border-image: linear-gradient(45deg, #66B97E, #80b692) 1; 
}


/* 제목과 참여인원 크기조절 */
.board_write .title,
.board_write .info {
  padding: 15px;
}


/* 게시글 중간줄 초록색*/
.board_write .info {
  border-top: 1px dashed #ddd;
  border-bottom: 3px solid #66B97E;
  border-image: linear-gradient(45deg, #66B97E, #80b692) 1; 
  font-size: 0;
}


/* 제목 글씨 사이즈 조절 */
.board_write .title dl {
  font-size: 0;
}

/* 참여인원 및 날짜 시간 조절*/
.board_write .info dl {
  display: inline-block;
  width: 50%;

}

/* 게시글 전체 글씨*/
.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
}


/* title 넓이 조절*/
.board_write .title dt,
.board_write .info dt {
  width: 100px;
}


/* 내용 적는 박스 조절 및 밑줄 색상*/
.board_write .cont {
  border-bottom: 3px solid #66B97E;
  width: 1010px;
  height: 500px;
  font-size: large;

}

.boardImg {
  max-width: 100%;
  max-height: 300px;
  height: auto;
  display: block;
  margin: 20px auto; /* Increased margin to 20px */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.btn-contents {
  display: flex;
 justify-content: flex-end  ;
}
.btn-contents>*{
  margin-left: 0.7rem;
}

i{
  font-size: x-large;

}


.btn-1 button,
.btn-2 button,
.btn-3 button,
.btn-4 button,
.btn-5 button {
  margin-top: 10px;
  background: linear-gradient(45deg, #66B97E, #4E8F63);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-1 button:hover,
.btn-2 button:hover,
.btn-3 button:hover,
.btn-4 button:hover,
.btn-5 button:hover {
  background: linear-gradient(45deg, #4E8F63, #2E5C3D);
}
