* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 게시판 목록 넓이 조절*/
.board_wrap {
  width: 950px;
  margin: 100px auto;
}

/* 게시글 하단 마진 조절*/
.board_title {
  margin-bottom: 25px;
}

/* 같이먹어요 제목 폰트사이즈*/
.board_title strong {
  font-size: 3rem;
}



/**/
.board_title p {
  margin-top: 2px;
  font-size: 1.4rem;
}


.board_list {
  width: 100%;
  border-top: 3px solid #66B97E;
}

.board_list > div {
  border-bottom: 1px solid #000;
  font-size: 0;
}

.board_list > div.top {
  border-bottom: 1px solid #000;
}

.board_list > div:last-child {
  border-bottom: 3px solid #66B97E;
}

.board_list > div > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 1.4rem;
}

.board_list > div.top > div {
  font-weight: 600;
}

.board_list .num {
  width: 10%;
}

.board_list .title {
  width: 35%;
  text-align: center;
}

.board_list .people {
  width: 10%;
  text-align: center;
}


.board_list .top .title {
 text-align: center; 
}

.board_list .writer {
  width: 25%;
  

}

.board_list .date {
  width: 10%;
}

.board_list .count {
  width: 10%;
}

.board_page {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #66B97E;
  border-left: 0;
  line-height: 100%;
}

.board_page a.bt {
  padding-top: 10px;
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.board_page a.num {
  padding-top: 9px;
  font-size: 1.4rem;
}

.board_page a.num.on {
  border-color: #000;
  background: #000;
  color: #fff;
}

.board_page a:first-child {
  border-left: 1px solid #ddd;
}

.board_view {
  width: 100%;
  border-top: 2px solid #000;
}

.board_view .title {
  padding: 20px 15px;
  border-bottom: 1px dashed #ddd;
  font-size: 2rem;
}

.board_view .info {
  padding: 15px;
  border-bottom: 1px solid #999;
  font-size: 0;
}

.board_view .info dl {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.board_view .info dl:first-child {
  padding-left: 0;
}

.board_view .info dl::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 1px;
  height: 13px;
  background: #ddd;
}

.board_view .info dl:first-child::before {
  display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
  display: inline-block;
  font-size: 1.4rem;
}



.board_view .info dl dd {
  margin-left: 10px;
  color: #777;
}

.board_view .cont {
  padding: 15px;
  border-bottom: 1px solid #000;
  line-height: 160%;
  font-size: 1.4rem;
}

.board_write {
  border-top: 2px solid #000;
  
}

.board_write .title,
.board_write .info {
  padding: 15px;
}

.board_write .info {
  border-top: 1px dashed #ddd;
  border-bottom: 1px solid #000;
  font-size: 0;
}

.board_write .title dl {
  font-size: 0;
}

.board_write .info dl {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt {
  width: 100px;
}

.board_write .title dd {
  width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
  padding: 10px;
  box-sizing: border-box;
}

.board_write .title input[type="text"] {
  width: 80%;
}

.board_write .cont {
  border-bottom: 1px solid #000;
}

.board_write .cont textarea {
  display: block;
  width: 100%;
  height: 300px;
  padding: 15px;
  box-sizing: border-box;
  border: 0;
  resize: vertical;
}
#boardSearch{
  text-align: center;
  width: 500px;
  height: 30px;
  margin: 30px auto;

  display: flex;
  justify-content: space-between;
}


#boardSearch * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#boardSearch select{
  width: 100px;
}

#boardSearch input{
  flex-grow: 1;
  margin: 0 10px;
  padding-left: 10px;
}  

#boardSearch button{
  
  width: 100px;

  font-weight: bold;
  background-color: #66B97E;
  border: none;
  color: white;

  cursor: pointer;
  

}

#insertBtn{
  width: 80px;
  height: 40px;   
  background-color: white;

  font-weight: bold;
  border: 2px solid #66B97E;
  border-radius: 5px;
  cursor: pointer;

  color: black;

  margin-top: 1rem;
}

/*--------footer--------*/
footer{
  width: 100%;
  height: 4rem;
  background-color: var(--footer-color);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  font-weight: 1;
  color: rgba(130, 130, 130, 1);
}

footer > article {
  padding: 1.5rem;
}

footer a {
  color: rgba(130, 130, 130, 1);
  text-decoration: none;
}

/*-------- header --------*/
header{
  height: 8rem;
  border-bottom: 2px solid var(--footer-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 로고 */
header > section:first-child {
  width: 55%;
  display: flex;
  justify-content: end;
}

/* 헤더메뉴 섹션 */
header > section:last-child {
  width: 45%;
  display: flex;
  justify-content: end;
}

/* 헤더 메뉴들 */
header article{
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a{
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.6rem;
}

:root{
  font-size: 62.5%;
  
  --main-color : #66B97E;
  --footer-color : #d9d9d9;
}

* {
  font-family:'GmarketSansMedium';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* =========================================================== */
/* 페이지 */
.pagination-area{
  height: 3rem;
}

.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 1.5rem;
}

.pagination li{
  width: 20px;
  margin: 0 5px;
  text-align: center;
}

.pagination a{
  display: block;
  width: 100%;
  height: 100%;
  color: var(--main-color);
  text-decoration: none;
}

.current{
  font-weight: bold;
  background-color: var(--main-color);
  border-radius: 50%;
  color: white !important;
  letter-spacing: 0 !important;
}