

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrap {
  padding: 40px 0;
  background-color: #66B97E;
}

.wrap .chat {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.wrap .chat .icon {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eee;
}

.wrap .chat .icon i {
  position: absolute;
  top: 10px;
  left: 50%;
  font-size: 2.5rem;
  color: #aaa;
  transform: translateX(-50%);
}

.wrap .chat .textbox {
  position: relative;
  display: inline-block;
  max-width: calc(100% - 70px);
  padding: 10px;
  margin-top: 7px;
  font-size: 13px;
  border-radius: 10px;
}

.wrap .chat .textbox::before {
  position: absolute;
  display: block;
  top: 0;
  font-size: 1.5rem;
}

.wrap .ch1 .textbox {
  margin-left: 20px;
  background-color: #ddd;
}



.wrap .ch2 {
  flex-direction: row-reverse;
}

.wrap .ch2 .textbox {
  margin-right: 20px;
  background-color: yellow;
}


/*-------- header --------*/
header{
  height: 8rem;
  border-bottom: 2px solid var(--footer-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 로고 */
header > section:first-child {
  width: 55%;
  display: flex;
  justify-content: end;
}

/* 헤더메뉴 섹션 */
header > section:last-child {
  width: 45%;
  display: flex;
  justify-content: end;
}

/* 헤더 메뉴들 */
header article{
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a{
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.6rem;
}
:root{
  font-size: 62.5%;
  
  --main-color : #66B97E;
  --footer-color : #d9d9d9;
}

* {
  font-family:'GmarketSansMedium';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

section{
  /* display: block; */
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

main{
  width: 144rem;
}
#user-input{
 width: 90%;
 height: 4vh;
}

.hh{
  text-align: center;
  height: 8vh;
}

h1{
  padding: 20px 20px;
  text-align: left;
  font-size: xx-large;
}

.read2{
  font-size:x-large;
  padding: 10px 20px;
}

#user-input{
color: #66B97E;
}