<!-- 댓글 영역 -->
<div class="comment">
  <div><i class="fa-solid fa-comment-dots" style="color: #d9d9d9;"></i> 댓글</div>

  <section class="comment-container">

    <section class="comment-1">

    </section>






    <!-- <section class="comment-1">
      <div class="comm">
        <div class="comm-1" th:object="${member}">
          <span class="comm-profileImg"><img th:text="${memberProfile}" alt="프로필사진"></span>
          <span class="comm-nickname" th:text="${memberNickname}">냠냠냠냠</span>
          <span class="comm-date" th:text="${writeDate}">2023.10.20.18:00</span>
        </div>
        <div class="comm-2">
          <span class="comm-text">댓글입니다댓글입니다댓글
            입니다댓글입니다댓글입니다댓글입니다댓글입니다댓글입니
            다댓글입니다댓글입니다댓글입니다댓글입니다댓글입니다
            댓글입니다댓글입니다댓글입니다댓글입니다댓글
            입니다댓글입니다댓글입니다댓글입니다댓글입니다댓글입니다댓글
            입니다댓글입니다댓글입니다댓글입니다댓글입니다댓글입니
            다댓글입니다댓글입니다댓글입니다댓글입니다댓글입니다
            댓글입니다댓글입니다댓글입니다댓글입니다댓글
            입니다댓글입니다댓글입니다댓글입니다</span>
        </div>
        <div class="comm-3">
          <span class="comm-reply">
            <a href="#"><i class="fa-solid fa-reply" style="color: #d9d9d9;""></i> 답글</a>
          </span>
        </div>
      </div>

      <div class="comm">
        <div class="comm-1">
          <span class="comm-profileImg"><img src="/images/original_16.png" alt="프로필사진"></span>
          <span class="comm-nickname">미쉘</span>
          <span class="comm-date">2023.10.20.18:00</span>
        </div>
        <div class="comm-2">
          <span class="comm-text">댓글입니다</span>
        </div>
        <div class="comm-3">
          <span class="comm-reply">
            <a href="#"><i class="fa-solid fa-reply" style="color: #d9d9d9;""></i> 답글</a>
          </span>
          <span ><button class="comm-mod">수정하기</button></span>
          <span><button class="comm-del">삭제하기</button></span>
        </div>
      </div>


    </section> -->



    <section class="comment-2">

      <textarea class="commInput" id="commInput" rows="1" placeholder="댓글쓰기..."></textarea>
      <button><a href="#"><i class="fa-solid fa-paper-plane" style="color: #66B97E; font-size: 2rem;"></i></a></button>
    </section>

  </section>




</div>