<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리뷰 상세조회</title>

  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" th:href="@{/css/review/reviewDetail-style.css}">
  <link rel="stylesheet" th:href="@{/css/review/comment-style.css}">

</head>
<body>

  <main>
    <th:block th:replace="~{common/header}"></th:block>


    <!-- 리뷰 -->
    <section class="review-container" th:object="${review}">

      <!-- 리뷰 헤드 - 제목, 평점, 찜,주소 -->
      <div class="contents-head">
        <section class="head-1">
          <section class="head-title" >
            <span class="store-title" th:text="*{reviewTitle}">가게이름</span>
            <span class="head-rating" style="color: #f1c93b;" th:text="|가게평점 *{storeStarTotal}|">가게평점</span>
            <i class="fa-sharp fa-solid fa-star fa-sm" style="color: #f1c93b;"></i>
          </section>
          <section class="head-address" th:text="*{reviewAddress}">주소</section>
        </section>
        
        <section class="head-2">
          <section class="head-like">
            <!-- 찜 -->
            <i class="fa-heart" th:classappend="${likeCheck} ? fa-solid : fa-regular" id="reviewLike"></i>
          </section>
        </section>
      </div>



      <!-- 리뷰 내용 - 사진, 평가, 메뉴, 한줄평 -->
      <div class="contents-main" th:object="${review}">

        <!-- 리뷰 사진 -->
        <section class="main-1">
          <img th:src="*{reviewImg}" alt="음식">
        </section>

        <!-- 리뷰 글 -->
        <section class="main-2">

          <!-- 별점 부분 -->
          <article class="review-rating">
            <section class="rating-total"> 
              <section class="profile">
                <section class="profile-img"><img th:src="*{memberProfile}" alt="프로필사진"></section>
                <span class="nickname" th:text="*{memberNickname}">닉네임</span>
              </section>
              <span class="star-total" th:text="*{starTotal}">총점</span>
              <i class="fa-sharp fa-solid fa-star fa-ml" style="color: #66B97E;"></i>
            </section>

            <section class="rating">
              <article class="rating-1">
                <span>맛</span>
                <span style="color: #f1c93b;" th:text="*{starTaste}">맛 점수</span>
                <i class="fa-sharp fa-solid fa-star fa-ml" style="color: #f1c93b;"></i>
              </article>
              <article class="rating-2">
                <span>양</span>
                <span style="color: #f1c93b;" th:text="*{starAmount}">양 점수</span>
                <i class="fa-sharp fa-solid fa-star fa-ml" style="color: #f1c93b;"></i>
              </article>
              <article class="rating-3">
                <span >청결</span>
                <span style="color: #f1c93b;" th:text="*{starClean}" >청결 점수</span>
                <i class="fa-sharp fa-solid fa-star fa-ml" style="color: #f1c93b;"></i>
              </article>
            </section>
        
          </article>

          <!-- 메뉴 -->
          <article class="review-menu">
            <div><i class="fa-solid fa-utensils" style="color: #d9d9d9;"></i> 메뉴</div>
            <section class="menu" th:text="*{reviewMenu}">메뉴</section>
          </article>

          <!-- 한줄평 -->
          <article class="review-text">
            <div><i class="fa-solid fa-pencil" style="color: #d9d9d9;"></i> 한줄평</div>
            <section class="text" th:text="*{reviewOneLine}">한줄평</section>
          </article>
        </section>
      </div>

      <!-- 조회수, 신고하기 / 로그인 시 - 글 수정하기, 삭제하기-->
      <div class="contents-foot" th:object="${review}">
        <section class="foot-1">
          <span class="hits-text"><i class="fa-solid fa-eye" style="color: #d9d9d9;"></i></span>
          <span class="hits" th:text="*{readCount}">조회수</span>
        </section>
        <section class="foot-2">
          <button class="reportBtn"><a onclick="openReportPopup()">
            <i class="fa-solid fa-triangle-exclamation"></i> 신고하기</a></button>
        </section>
        <section class="foot-3" th:if="${session.loginMember != null and session.loginMember.memberNo == review.memberNo}">
          <button class="updateBtn" id="updateBtn">수정하기</button>
        </section>
        <section class="foot-4" th:if="${session.loginMember != null and session.loginMember.memberNo == review.memberNo}">
          <button class="deleteBtn" id="deleteBtn">삭제하기</button>
        </section>
        <!-- <section class="foot-5">
          <button class="prevBtn"><a href="#">목록으로</a></button>
        </section> -->
      </div>
  

      <!-- 댓글 영역 -->
      <th:block th:replace="~{review/comment}"></th:block>
    
    </section>  

    <!-- 다른 리뷰 -->
    <section class="others" >

      <div>
        <span class="others-title" style="color: #66B97E;" th:text="${review.reviewTitle}">'가게이름'</span>
        <span> 의 다른 리뷰</span>
      </div>

      <!-- 다른 리뷰가 존재하지 않을 때 -->
      <div  class="otherReview-container" th:if="${#lists.size(otherReview)} == 0">
        <section class="review-row-no">

          <div class="review-col-no"><i class="fa-solid fa-circle-xmark" style="color: #66b97e;"></i>
            다른 리뷰가 존재하지 않습니다</div>
        </section>
      </div>


      <!-- 다른 리뷰가 존재할 때 -->
      <div  class="otherReview-container" th:if="${#lists.size(otherReview)} != 0">
        <th:block th:each="other, stat : ${otherReview}">
    
          <th:block th:if="${stat.index % 4 == 0}">
            <section class="review-row">
            </th:block>
              <article class="review-col" th:object="${other}">

                <!-- 이미지 -->
                <a class="review-img" th:href="@{/review/{reviewNo} (reviewNo=*{reviewNo})}">
                  <img th:src="*{reviewImg}" alt="image-1">
                </a>
        
                <!-- 제목(가게명) -->
                <div class="reviewTitle"><a th:text="*{reviewTitle}">가게이름</a></div>
        
                <!-- 닉네임/평점/작성일 -->
                <div class="others-nickname-star-date">
                  <section class="othersNickname" th:text="*{memberNickname}">푸바오</section>
                  <span class="othersStar" style="color: #f1c93b;" th:text="*{starTotal}">4.5</span>
                    <i class="fa-sharp fa-solid fa-star fa-ml" id="othersStar-i"></i>
                  <section class="othersWriteDate" th:text="*{writeDate}" >2023.10.20.</section>
                </div>
      
              </article>
    
          <th:block th:if="${stat.index % 4 == 3}">
            </section>
          </th:block>
        </th:block>
      </div>
    </section>  
  </main>





  <th:block th:replace="~{common/footer}"></th:block>

  <script th:inline = "javascript">

    /******* JS 파일에서 사용할 값을 전역 변수로 선언 *******/
    const reviewNo = /*[[${reviewNo}]]*/ "리뷰 번호";

    // session에 세팅된 loginMember 존재 여부 확인
    const loginCheck = /*[[${session.loginMember!=null ? true : false}]]*/ "로그인 여부";

  </script> 


  <script src="/js/review/reviewDetail.js"></script>
  <script src="/js/review/comment.js"></script>



  
</body>
</html>