<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리뷰 작성</title>

  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/review/update.css">
</head>

<body>
  <main>
    <!-- 헤더 --> 
    <th:block th:replace="~{common/header}"></th:block>

    <section class="content">
      <h3>Review</h3>
      <hr>

      <section class="content-1">
        <form class="container" action="update" th:object="${review}" method="POST" id="reviewWriteFrm"
          enctype="multipart/form-data">
          <!-- 제목 -->
          <div id="title-area">
            <label for="title" class="title" id="title" name="title">제목:</label>
            <input type="text" th:value="*{reviewTitle}" class="textbox" id="input-title" name="reviewTitle">
          </div>

          <!-- 위치 -->
          <div id="location-area">
            <label for="location" class="title" id="location">위치:</label>
            <input type="text" th:value="*{reviewAddress}" class="textbox" id="locatonContent" name="reviewAddress">
            <butto id="locationBtn" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">주소 검색</butto>
          </div>

          <!-- 별점 -->
          <div class="rating-option-section">
            <label id="rating" class="title">평점</label>

            <!-- 맛 -->
            <div class="rating-option">
              <label for="taste" id="taste">맛 : </label>
              <i class="fa-regular fa-star fa-2xl star1" style="color: #f1c93b;"></i>
              <i class="fa-regular fa-star fa-2xl star1" style="color: #f1c93b;"></i>
              <i class="fa-regular fa-star fa-2xl star1" style="color: #f1c93b;"></i>
              <i class="fa-regular fa-star fa-2xl star1" style="color: #f1c93b;"></i>
              <i class="fa-regular fa-star fa-2xl star1" style="color: #f1c93b;"></i>
              <input type="hidden" id="tasteRating" name="starTaste" th:value="*{starTaste}">

            </div>

            <!-- 양 -->
            <div class="rating-option">
              <label for="quantity" id="quantity">양: </label>
              <i class="fa-regular fa-star fa-2xl star2" style="color: #f1c93b;"></i>
              <i class="fa-regular fa-star fa-2xl star2" style="color: #f1c93b;"></i>
              <i class="fa-regular fa-star fa-2xl star2" style="color: #f1c93b;"></i>
              <i class="fa-regular fa-star fa-2xl star2" style="color: #f1c93b;"></i>
              <i class="fa-regular fa-star fa-2xl star2" style="color: #f1c93b;"></i>
              <input type="hidden" id="quantityRating" name="starAmount" th:value="*{starAmount}">


            </div>

            <!-- 청결도 -->
            <div class="rating-option">
              <label for="cleanliness" id="cleanliness">청결도: </label>
              <i class="fa-regular fa-star fa-2xl star3" style="color: #f1c93b;"></i>
              <i class="fa-regular fa-star fa-2xl star3" style="color: #f1c93b;"></i>
              <i class="fa-regular fa-star fa-2xl star3" style="color: #f1c93b;"></i>
              <i class="fa-regular fa-star fa-2xl star3" style="color: #f1c93b;"></i>
              <i class="fa-regular fa-star fa-2xl star3" style="color: #f1c93b;"></i>
              <input type="hidden" id="cleanlinessyRating" name="starClean" th:value="*{starClean}">

            </div>
          </div>

          <!-- 내가 먹은 메뉴 -->
          <div id="menu-area">
            <label for="menu" class="title" id="menu">내가 먹은 메뉴: </label>
            <input type="text" th:value="*{reviewMenu}" class="textbox" id="input-menu" name="reviewMenu">
          </div>

          <!-- 이미지 -->
          <div id="image-area">
            <p class="title" id="image-text">이미지 첨부: </p>
            <p id="image-title">이미지 파일 이름</p>
            <label for="image"><div class="btn-upload">수정하기</div></label>
            <input type="file" id="image" accept="image/*" name="inputImg">
          </div>

          <!-- 한줄평 -->
          <div id="comment-area">
            <label for="comment" class="title" id="comment">한줄평: </label>
            <textarea id="writeReview" th:text="*{reviewOneLine}" name="reviewOneLine"></textarea>
          </div>
      </section>


      <button type="submit" id="submit-btn">등록</button>
      </form>

    </section>

  </main>

  <th:block th:replace="~{common/footer}"></th:block>

  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/review/update.js"></script>

</body>

</html>