<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" th:href="@{/css/member/login-style.css}">
  <th:block th:replace="~{common/common}"></th:block>
</head>
<body>

  <main>

    <!-- header -->
    <th:block th:replace="~{common/header}"></th:block>


    <!-- 로그인박스 -->
    <section class="container">
      
      <form action="login" method="POST" id="loginForm">
        
        <section class="input-box" id="id-input-box">
          <i class="fa-regular fa-user fa-lg" style="color: #cbcbcb;"></i>
          <input type="text" name="memberId" placeholder="아이디" required>
        </section>

        <section class="input-box" id="pw-input-box">
          <i class="fa-solid fa-lock fa-lg" style="color: #cbcbcb;"></i>
          <input type="password" name="memberPw" placeholder="비밀번호" required>
        </section>

        <div class="saved-area">
          <input type="checkbox" name="saveId" id="saveId">
          <label for="saveId"><i class="fa-regular fa-circle-check fa-lg" style="color: #cbcbcb;"></i>아이디 저장</label>
        </div>

        <!-- 로그인 이전 페이지 기록 넘기기 _ 정보가왜없을까..?...ㅠ-->
        <input type="hidden" name="referer" th:value="${session.referer}">
        
        <button class="login-btn">로그인</button>
      </form>



      <p class="text-area">
        <a href="pw-find">비밀번호 찾기</a>
        |
        <a href="id-find">아이디 찾기</a>
        |
        <a href="signup">회원가입</a>
      </p>
    </section>


  </main>

  <!-- footer -->
  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/member/login.js"></script>

  
</body>
</html>