<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oliview :: 비밀번호 변경</title>
  <link rel="stylesheet" th:href="@{/css/member/pw-find-confirm-style.css}">
  <th:block th:replace="~{common/common}"></th:block>
</head>
<body>

  <main>
    <!-- header -->
    <th:block th:replace="~{common/header}"></th:block>


    <!-- 정보 입력 박스 -->
    <section class="container">

      <p id="idText">
        <span class="idText">귀하의 아이디는</span>
        <span id="memberId" th:text="${searchMember.memberId}">member01</span>
        <span class="idText">입니다</span>
      </p>

      <artcle id="explainText">
        <p>
          비밀번호를 변경해 주세요. <br>
          다른 아이디나 사이트에서 사용한 적 없는 안전한 비밀번호로 변경해 주세요.
        </p>
      </artcle>

      <form action="changePw" method="POST" id="changePwForm">

        <section class="input-box">
          <i class="fa-solid fa-lock fa-lg" style="color: #cbcbcb;"></i>
          <input type="password" name="memberPw" id="memberPw" placeholder="새 비밀번호" required>
        </section>

        <section class="input-box">
          <i class="fa-solid fa-lock fa-lg" style="color: #cbcbcb;"></i>
          <input type="password" name="memberPwCheck" id="memberPwCheck" placeholder="새 비밀번호 확인" required>
        </section>

        <article id="pw-explain">
          · 영문, 특수문자 포함(8자 이상 16자 이하)로 작성해주세요.
        </article>

        <input type="hidden" name="memberNo" th:value="${searchMember.memberNo}">

        <button class="confirm-btn">확인</button>
      </form>

    </section>


  </main>

  <!-- footer -->
  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/member/pw-find-confirm.js"></script>


</body>
</html>