/* =========================================================== */
/* 댓글 */
.comment{
  height: 50rem;
  padding: 0 4rem;
}
.comment-list-txt{
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0.5rem;
}
.comment-list-area{
  height: 45rem;
  border-radius: 1rem;
  background-color: #f5f5f5;
}

.commentList{
  height: 35rem;
  overflow: auto;
  padding: 2rem;
}

/* 삭제된 댓글 입니다 */
#comment-row-del{
  font-size: 2rem;
  color: #858585;
  padding: 1rem 0;
  border-bottom: 0.1rem solid var(--footer-color);
}

/* 스크롤바 */
.commentList::-webkit-scrollbar {
  width: 1.5rem;
}
.commentList::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
  border-radius: 1rem;
}
.commentList::-webkit-scrollbar-track{
  background-color: #66b97d4f;
  border-radius: 1rem;
}


/* 댓글 */
.comment li{
  list-style-type: none;
}
.comment-writer{
  display: flex;
  align-items: center;  
  font-family: 'GmarketSansMedium';
  padding-top: 1rem;
}

.comm-profileImg{
  width: 3.5rem;
  height: 3.5rem;
  border: 0.3rem solid var(--main-color);
  border-radius: 50%;

  overflow: hidden;
  display: flex;
  justify-content: center;
}
.comm-profileImg > img{
  width: 100%;
  object-fit: cover;
}

.comm-nickname{
  font-size: 2rem;
  color: var(--main-color);
}
.comm-date{
  font-size: 1rem;
}
.comment-content{
  font-size: 2rem;
  padding: 1rem 0;
}

.comment-writer>*{
  margin-right: 1rem; 
}


/* 답글달기, 수정, 삭제*/
.comment-btn-area{
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid var(--footer-color);
  display: flex;
  justify-content: flex-end;
}

.comment-btn-area button{
  margin-right: 1rem;
  background-color: var(--main-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.comm-mod, .comm-del{
  background-color: var(--footer-color);
}



/* 댓글 입력 */
.comment-write-area{
  height: 10rem;
  padding: 2rem;
  display: flex;
}
.comm-input{
  height:  6rem;
  width: 90%;
  border-radius: 5rem 0 0 5rem;
  padding: 0 0 0 2rem;
}
.commInput{
  overflow: hidden;
  overflow-wrap: break-word;
  height: 6rem;
  width: 90%;
  font-size: 2rem;
  border-radius: 5rem 0 0 5rem;
  padding: 1rem 0 0 2rem;
  resize: none;
  border: 0.2rem solid var(--main-color);
  border-style: solid none solid solid;
  color: var(--main-color);
}

.commInput:focus {outline:none;}

.comment-write-area button{
  height:  6rem;
  width: 10%;
  border: 0.2rem solid var(--main-color);
  border-style: solid solid solid none;
  border-radius: 0 5rem 5rem 0;
  cursor: pointer;
  background-color: white;
}


/* 댓글 수정  */

.update-textarea{
	width: 100%;
  height: 90px;
  resize: none;
  font-size: 2rem;
}

/* 답글 */

.child-comment{
  padding-left : 50px;
  position: relative;
}

.commentInsertContent{
	width: 100%;
  height: 70px;
  resize: none;
  margin-top : 20px;
  font-size: 2rem;
}

/* 댓글 내용 */
.comment-content{
	white-space: pre-wrap; /* 작성된 문자열 모양 그대로(공백 유지) */
}


