

/* =========================================================== */
/* 검색바 영역 */

.search{
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput{
  height: 4.5rem;
  width: 80rem;
  border: 0.2rem solid var(--main-color);
  border-style: solid none solid solid;
  border-radius: 5rem 0 0 5rem;
  padding: 0 2rem;
  font-size: 2rem;
  color: var(--main-color);
}


input:focus {outline:none;}

.resetBtn{
  height: 4.5rem;
  width: 3rem;
  border: 0.2rem solid var(--main-color);
  border-style: solid none solid none;
  background-color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

.searchReviewBtn{
  height: 4.5rem;
  width: 5rem;
  border: 0.2rem solid var(--main-color);
  border-style: solid solid solid none;
  border-radius: 0 5rem 5rem 0;
  background-color: white;
  cursor: pointer;
  padding: 0.1rem 0.5rem 0 0;
}
/* =========================================================== */
/* 정렬 선택 영역 */

.sort{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--footer-color);
}
.sort>span{
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.sortBtn{
  font-size: 1.5rem; 
  margin: 0 0.5rem;
  background-color: white;
  color: var(--footer-color);
  border: none;
  cursor: pointer;
}

.clicked{
  color: var(--main-color);
}

.unclicked{
  color: var(--footer-color) !important;
}

/* =========================================================== */
/* 리뷰 목록 영역*/


/* 리뷰가 존재하지 않을 때 */

.result-no{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #b6b6b6;
  height:30rem;
  border: 0.1rem solid var(--footer-color);
}

/* =========================================================== */
/* 리뷰가 존재할 때 */
/* 2줄 박스 */

.review-full-container{
  height: 95rem;
}

.review-row{
  height: 45rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0;
}

.review-col{
  width: 23%;
  height: 100%;
  border-radius: 1rem;
  margin: 0 1%;
  box-shadow: 1rem 1rem 2rem var(--footer-color);
}

.review-img{
  height: 80%;
  border-radius: 1rem 1rem 0 0;

  overflow: hidden;
  display: flex;
  justify-content: center;
}

.review-img>img{
  width: 100%;
  object-fit: cover;
}

.reviewTitle{
  width: 100%;
  font-size: 2.5rem ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1.3rem 1rem 0.5rem;
}
.reviewTitle>*{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nickname-star-date{
  display: flex;
  flex-direction: row;
  align-items: end;
}
.nickname{
  font-size: 1.5rem;
  padding: 0 1rem;
}
.star{
  font-size: 1.5rem;
  color: #f1c93b;
}

.nickname-star-date i{
  font-size: 1.2rem;
  margin-left: 0.2rem;
  padding-bottom: 0.5rem;
}

.writeDate{
  font-size: 1.2rem;
  padding: 0 2rem;
  color: #808080;
}

a{
  text-decoration: none;
  color: inherit;
}

/* 평점순 */
.reviewRank{
  padding-top: 1rem;
  display: flex;
  font-size: 2.5rem;
}
.reviewRank> section{
  padding: 0.2rem;
  margin-right: 0.2rem;
}
.reviewRank> span{
  padding: 0.2rem 0 0.2rem 0.2rem;
}
.star-count{
  padding-left: 1rem;
  display: flex;
}
.star-count > *{
  color: #f1c93b;
  font-size: 1.5rem;
  padding: 0.2rem;
  margin-right: 0.2rem;
}

.rankNo-title{
  display: flex;
  font-size: 2.5rem ;
  padding: 1.5rem 1.5rem 0;
}
.rankNo-title>*{
  margin-right: 1rem;
}


/* =========================================================== */
/* 페이지 */
.pagination-area{
  height: 8rem;
}

.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 1.5rem;
}

.pagination li{
  width: 20px;
  margin: 0 5px;
  text-align: center;
}

.pagination a{
  display: block;
  width: 100%;
  height: 100%;
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}

.current{
  font-weight: bold;
  background-color: var(--main-color);
  border-radius: 50%;
  color: white !important;
  letter-spacing: 0 !important;
}