/*----- 내 프로필 -----*/
.container{
  width: 100%;
  min-height: 74rem;

  display: flex;
}

/* 사이드메뉴 */
#side-menu-container{
  width: 20%;
  min-height: 74rem;

  background-color: #66b97d21;
}

#side-menu-container > section:first-child{
  width: 100%;
  height: 25rem;
  background-color: #66b97d2a;

  border-bottom: 0.5rem solid var(--main-color);
}

/* 프로필 정보 */
#profileInfo-container{
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-img > img{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 1rem;
}

#member-id{
  width: 53%;
  height: 100%;
  font-size: 3.2rem;

  display: flex;
  align-items: center;
}

#member-id > p{
  width: 16rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#edit-btn{
  width: 17%;
  height: 100%;
  display: flex;
  align-items: center;
}

#edit-btn > button{
  font-size: 0.8rem;
  color: #5a5a5a; 
  margin-top: 1.2rem;
}


/* 채팅, 로그아웃 버튼 */
#btns-container{
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btns-container > button{
  margin: 0.5rem 0.5rem 3rem;
  width: 9rem;
  height: 4rem;

  font-size: 2rem;
  color: white;
  border: none;
}

#btns-container > button:hover{
  cursor: pointer;
}

#chatting-btn{
  background-color: var(--main-color);
}

#logout-btn{
  background-color: #afafaf;
}

#chatting-btn a{
  text-decoration: none;
  color: white;
}

/* 마이페이지 타이틀텍스트 */
#myPage-title{
  height: 8rem;
  font-size: 2.4rem;
  color: var(--main-color);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
}


/* --- 사이드 목차 --- */
#side-menu-container > section:last-child{
  display: flex;
  justify-content: center;
}

#mypage-index-container{
  width: 22rem;
  height: 46rem;
}

#mypage-index-container > article{
  height: 7.5rem;
  width: 100%;

  display: flex;
  align-items: center;

  border-bottom: 0.2rem solid var(--footer-color);
}

#mypage-index-container > article > a{
  font-size: 2.2rem;
  color: var(--main-color);
  text-decoration: none;
}


/* --- 내 프로필 내용 화면 --- */
.my-profile-container{
  width: 80%;
  height: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#my-profile-container{
  width: 100rem;
  margin-left: 6rem;
}

/* 프로필 헤드 */
#my-profile-title-container{
  height: 16rem;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

#my-profile-title-container > article:first-child{
  font-size: 2.4rem;
  color: var(--main-color);
}

#my-profile-title-container > article:last-child{
  font-size: 1.2rem;
}


/* 프로필 정보 */

#my-profile-info-container{
  height: 5rem;
  margin-bottom: 2rem;
  width: 100%;
}

.my-profile-headline{
  width: 110rem;
  height: 4rem;
  font-size: 2.2rem;
  border-bottom: 0.3rem solid var(--footer-color);
}

#my-profile-info-container-2{
  height: 16rem;
  width: 110rem;

  display: flex;
  flex-direction: column;
}


/* 프로필 정보 */
#profileinfoBox{
  height: 100%;
  width: 80%;
}

/* 정보칸 */
.myPage-row{
  height: 4.4rem;
  margin: 2rem 0 0 1.5rem;

  display: flex;
}


.myPage-row > article{
  width: 12rem;
  border-right: 0.1rem solid var(--footer-color);

  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.myPage-row > article > p{
  font-family: 'GmarketSans';
  font-weight: 300;
  width: 12rem;
}

.myPage-row > section{
  width: 40rem;
  margin-left: 3rem;
  display: flex;
  align-items: center;
}

.myPage-row > section > input{
  width: 24rem;
  height: 3.5rem;
  padding: 0 0.5rem;

  font-size: 1.8rem;

  border: 0.1rem solid #afafaf
}


/* 닉네임 수정 옆 유효성검사 */
.myPage-row span{
  width: 60rem;
  margin-left: 1rem;
}

#nickNameBox, #emailBox{
  width: 80rem;
}









/* 프로필사진 컨테이너 */
#profile-img-change{
  display: flex;
  margin-left: 3rem;
}

/* 프로필 사진 선택/변경/삭제 버튼*/
.profile-btn-area{
  width: 40rem;
  display: flex;
}

.profile-btn-area > label{
  margin-left: 2rem;
}

.profile-btn-area > button, label{
  width: 7rem;
  height: 3rem;
  margin: 0 0.5rem 0 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border: 0.1rem solid #afafaf;

  font-size: 1.2rem;
}

#imageInput{
  display: none;
}

.profile-btn-area > button:hover, label:hover{
  cursor: pointer;
}

/* 적용/취소버튼 영역*/
#my-profile-info-container-2 > section:last-child{
  height: 100%;
  width: 20%;
}

#myprofile-fitst-btns{
  width: 89%;
  margin-left: 20rem;
}


/* 적용/취소버튼 */
.btns{
  display: flex;
  justify-content: end;
  align-items: end;
}

.btns > button{
  width: 6.5rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border: 0.1rem solid #afafaf;

  font-size: 1.2rem;
}

.btns > button:hover{
  cursor: pointer;
}

/* 적용버튼 */
.btns > button:nth-child(1){
  color: white;
  background-color: var(--main-color);
  border: none;
  margin-right: 1rem;
}


/* 필수 회원 정보 */
#my-profile-essential-info-container{
  margin-top: 20rem;
  height: 42rem;
  margin-left: 6rem;

}

#my-profile-essential-info-container-2{
  width: 80%;
}


.myPage-row > section > p{
  font-size: 1.8rem;
}

#modify-pw-btn{
  height: 3rem;
  width: 10rem;

  background-color: white;
  border: 0.1rem solid #afafaf
}

#modify-pw-btn:hover{
  cursor: pointer;
}

/* 메세지 색상 지정 */
.confirm{ color : green; }
.error{ color : red; }
