body,h1,h2,h3,p,table {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
}

.container {
  margin: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.8rem;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

#list{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
  align-items: center;
}


#member-table {
  width:100%;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  border-collapse: collapse;
}

#member-table-row {
  background-color: #333;
  color: #fff;
}

#member-table-content {
  text-align: center;
}

#member-table td,
#member-table th {
  padding: 1.2rem;
  font-size: 1.5rem;

}

#member-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.myPage-table-title {
  font-weight: bold;
  text-align: center;
  padding: 2rem;
}


button {
  background-color: #4CAF50; 
  color: white; 
  padding: 8px 12px; 
  border: none;
  border-radius: 4px; 
  cursor: pointer; 
  margin-right: 5px; 
}

button:hover {
  background-color: #45a049; 
}


footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#navigation-container {
  margin-bottom: 5rem;
  background-color: #333;
}


#page-change-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#page-change-container li {
  margin: 2rem;
}

#page-change-container a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

#page-change-container a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}