:root{
  font-size: 62.5%;
  --main-color : #66B97E;
  --footer-color : #d9d9d9;
}

* {
  font-family:'GmarketSansMedium';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


main {
  width: 100%;
  height: 100%;
}

header{
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  font-size: 2.5rem;
  color: white;
}

/* =========================================================== */
/* 신고글 정보 */

.report-info{
  height: 8rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-bottom: 0.1rem solid var(--footer-color);
}

.report-info>div{
  display: flex;
  margin: 0.5rem;
  color: var(--footer-color);
  align-items: end;
}

.report-info section{
  color: black;
}

/* =========================================================== */
/* 신고 내용 버튼 */

.report-button{
  height: 35rem;
  padding-top: 0.5rem;
  font-size: 1.8rem;
  padding: 1rem 3rem;

}
.report-button li{
  margin: 0.8rem;
}

/* =========================================================== */
/* 신고 내용 작성 */
.report-comment{
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

textarea{
  resize: none;
  font-size: 1.5rem;
}

/* =========================================================== */
/* 신고 버튼 */
.submit{
  height: 5rem;
  padding: 1rem 3rem;

}

.submit>button{
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}