<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.farmers.oliview.admin.model.mapper.AdminMapper">

	<select id="memberList" resultType="Member">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_EMAIL, MEMBER_NICKNAME,
		MEMBER_ENROLL_DATE, MEMBER_DEL_FL
		FROM "MEMBER"
		ORDER BY MEMBER_NO DESC
	</select>

	<update id="changeAuthority">
		UPDATE "MEMBER" SET
		AUTHORITY = DECODE(AUTHORITY, 'N', 'Y', 'Y', 'N')
		WHERE MEMBER_NO = #{memberNo}
	</update>


</mapper>