<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.farmers.oliview.admin.model.mapper.AdminMapper">

	<select id="memberList" resultType="Member">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_EMAIL, MEMBER_NICKNAME,
		TO_CHAR(MEMBER_ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"')
		AS MEMBER_ENROLL_DATE , MEMBER_DEL_FL
		FROM "MEMBER"
		ORDER BY MEMBER_NO DESC
	</select>

	<update id="user">
		UPDATE "MEMBER" SET
		AUTHORITY = 'N'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<update id="admin">
		UPDATE "MEMBER" SET
		AUTHORITY = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<update id="restoration">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL = 'N'
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<!-- 회원 조회 -->
	<select id="memberInfo" resultType="Member">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_NAME,
		TO_CHAR(MEMBER_ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"')
		AS MEMBER_ENROLL_DATE, AUTHORITY, MEMBER_DEL_FL
		FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>


	<update id="quit">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>


	<insert id="insertReport">
		INSERT INTO "REPORT"
		VALUES(#{reportNo},#{reportContent}, DEFAULT,NULL,NULL)
	</insert>


	<update id="delete">
		UPDATE "REVIEW" SET
		REVIEW_DEL_FL = 'Y'
		WHERE REVIEW_NO = #{reviewNo}
	</update>

	<select id="reviewReportList" resultType="Review">
		SELECT REVIEW_NO, REVIEW_TITLE, MEMBER_NICKNAME,
		TO_CHAR(WRITE_DATE , 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') WRITE_DATE,
		FROM REVIEW
		JOIN "MEMBER" USING (MEMBER_NO)
		ORDER BY REVIEW_NO
	</select>


	<select id="togetherList" resultType="Together">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NO,
		TO_CHAR(DATE_CREATED , 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"')
		DATE_CREATED, BOARD_DEL_FL
		FROM "TOGETHER"
		ORDER BY BOARD_NO
	</select>

<!--	<update id="changeAuthority">
		UPDATE "REVIEW" SET
		REVIEW_DEL_FL = DECODE(REVIEW_DEL_FL, 'N', 'Y', 'Y', 'N')
		WHERE REVIEW_NO = #{reviewNo}
	</update>-->


</mapper>