<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.farmers.oliview.together.mapper.EditTogetherMapper">

	<!--게시글 작성 -->
	<insert id="insertBoard" parameterType="Together" useGeneratedKeys="true">

		<selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey> 
		INSERT INTO "TOGETHER" VALUES( #{boardNo}, #{boardTitle},DEFAULT, #{boardImg},
		#{boardContent}, DEFAULT, #{memberNo},
		TO_DATE(#{mettingDate},'YYYY-MM-DD"T"HH24:MI'), DEFAULT, #{maxPeople}) 
	</insert>


	<!-- 게시글 부분만 수정 -->
	<update id="updateBoard">
		UPDATE "TOGETHER" SET
		BOARD_TITLE = #{boardTitle},
		BOARD_CONTENT = #{boardContent},
		MAX_PEOPLE = #{maxPeople},
		METTING_DATE = TO_DATE(#{mettingDate},'YYYY-MM-DD"T"HH24:MI')
		
		<!-- 이미지 삭제 -->
		<if test='boardImg == "-1"'>
			,BOARD_IMG = NULL
		</if>
		
		<!-- 이미지 변경 -->
		<if test='boardImg != null'>
			,BOARD_IMG = #{boardImg}
		</if>
		
		
		WHERE BOARD_NO = #{boardNo}


	</update>


	<!--게시글 삭제-->
	<update id="deleteBoard">
    	UPDATE "TOGETHER" SET
   		BOARD_DEL_FL = 'Y'
    	WHERE BOARD_NO = #{boardNo}
    	AND MEMBER_NO = #{memberNo}
	</update>




</mapper>