<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.farmers.oliview.review.model.mapper.ReviewMapper">
	
	<!-- 전체 리뷰 수 조회 -->
	<select id="getReviewCount" resultType="_int">
		SELECT COUNT(*) FROM "REVIEW"
		WHERE REVIEW_DEL_FL = 'N'
	</select>
	
	
	<!-- 전체 리뷰 조회 -->
	<select id="allReview" resultType="Review">
		SELECT REVIEW_NO, REVIEW_IMG, REVIEW_TITLE, MEMBER_NICKNAME, STAR_TASTE, STAR_AMOUNT, STAR_CLEAN, 
					TO_CHAR(WRITE_DATE, 'YYYY"." MM"." DD"."') WRITE_DATE
		FROM "REVIEW"
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE REVIEW_DEL_FL = 'N'
		ORDER BY READ_COUNT
	</select>
	
	
	
	<!-- 검색 리뷰 수 조회 -->
	<select id="searchReviewCount" resultType="_int">
		SELECT COUNT(*) FROM "REVIEW"
		WHERE REVIEW_DEL_FL = 'N'
		AND REVIEW_TITLE LIKE '%${searchInput}%'
	</select>
	
	
	<!-- 검색 -->
	<select id="searchReview" resultType="Review">
		SELECT REVIEW_NO, REVIEW_IMG, REVIEW_TITLE, MEMBER_NICKNAME, STAR_TASTE, STAR_AMOUNT, STAR_CLEAN, 
					TO_CHAR(WRITE_DATE, 'YYYY"." MM"." DD"."') WRITE_DATE
		FROM "REVIEW"
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE REVIEW_TITLE LIKE '%${searchInput}%'
		ORDER BY READ_COUNT
	</select>
	
	
	<!-- 검색 - 최신순 -->
	<select id="searchLatest" resultType="Review">
		SELECT REVIEW_NO, REVIEW_IMG, REVIEW_TITLE, MEMBER_NICKNAME, STAR_TASTE, STAR_AMOUNT, STAR_CLEAN, 
					TO_CHAR(WRITE_DATE, 'YYYY"." MM"." DD"."') WRITE_DATE
		FROM "REVIEW"
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE REVIEW_TITLE LIKE '%${searchInput}%'
		ORDER BY WRITE_DATE
	</select>
	
	

</mapper>