<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.farmers.oliview.review.model.mapper.ReviewMapper">
	
	
	<select id="searchReview" resultType="Review">
		SELECT REVIEW_NO, REVIEW_IMG, REVIEW_TITLE, MEMBER_NICKNAME, STAR_TASTE, STAR_AMOUNT, STAR_CLEAN, 
					TO_CHAR(WRITE_DATE, 'YYYY"." MM"." DD"."') WRITE_DATE
		FROM "REVIEW"
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE REVIEW_TITLE LIKE '%${searchInput}%'
		ORDER BY READ_COUNT
	</select>
	
	
	<select id="reviewDetail" resultType="Review">
		SELECT REVIEW_TITLE, REVIEW_ADDRESS, REVIEW_IMG, MEMBER_PROFILE, MEMBER_NICKNAME, STAR_TASTE,
				STAR_AMOUNT, STAR_CLEAN,ROUND((STAR_TASTE+STAR_AMOUNT+STAR_CLEAN)/3,1) STAR_TOTAL , REVIEW_MENU, REVIEW_ONELINE
		FROM "REVIEW"
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE REVIEW_DEL_FL = 'N'
		AND REVIEW_NO = #{reviewNo}
	</select>
   

</mapper>