<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.farmers.oliview.together.mapper.TogetherMapper">
     
           <!--전체 게시글 수 조회-->
         <select id="getListCount" resultType="_int">
            SELECT COUNT(*) FROM "TOGETHER"
            WHERE BOARD_DEL_FL = 'N'
            AND BOARD_CODE = #{boardCode}
         </select>
         
         
           <!--게시글 목록 조회-->
           <select id="selectBoardList" resultType="Together">
            SELECT BOARD_NO, BOARD_TITLE, READ_COUNT, MEMBER_NICKNAME,
            
            <![CDATA[   
                 CASE  
                  WHEN SYSDATE - BOARD_WRITE_DATE < 1/24/60
                   THEN FLOOR( (SYSDATE - BOARD_WRITE_DATE) * 24 * 60 * 60 ) || '초 전'
                  WHEN SYSDATE - BOARD_WRITE_DATE < 1/24
                  THEN FLOOR( (SYSDATE - BOARD_WRITE_DATE) * 24 * 60) || '분 전'
                  WHEN SYSDATE - BOARD_WRITE_DATE < 1
                  THEN FLOOR( (SYSDATE - BOARD_WRITE_DATE) * 24) || '시간 전'
                  ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
               END BOARD_WRITE_DATE, 
               ]]>
               
                  (SELECT IMG_PATH || IMG_RENAME FROM BOARD_IMG I
                WHERE I.BOARD_NO = B.BOARD_NO
                AND IMG_ORDER = 0) THUMBNAIL
                
                FROM "TOGETHER" T
                JOIN "MEMBER" USING(MEMBER_NO)
                WHERE BOARD_DEL_FL = 'N'
                AND BOARD_CODE = #{boardCode}
                ORDER BY BOARD_NO DESC 
                
                <choose>
                   
                   <!-- 제목 검색 -->
                   <when test= '"key == "t"'>
                      AND BOARD_TITLE LIKE '%${query}%'
                   </when>
                   
                   <!-- 내용 검색 -->
                      <when test= '"key =="c"'>
                      AND BOARD_CONTENT LIKE '%${query}'
                     </when>
                   
                   <!-- 제목 + 내용 검색 -->
                   <when test= 'key == "tc"'>
                      AND (BOARD_TITLE LIKE '%${query}%'
                            OR BOARD_CONTENT LIKE '%${query}')

                   </when>
                   
                   <!--작성자 검색 -->
                   <when test="key == 'w'">
                     AND MEMBER_NICKNAME LIKE '%${query}%'
                   </when>

                </choose>
                     ORDER BY BOARD_NO DESC
                     
                </select>
          
             
                
                 <!-- 게시글 상세 조회 -->
                 <select id="boardDetail" resultMap="board_rm">
                    
                    SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, READ_COUNT,
                           TO_CHAR(BOARD_WRITE_DATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') BOARD_WRITE_DATE,
                        TO_CHAR(BOARD_UPDATE_DATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') BOARD_UPDATE_DATE,
                        MEMBER_NICKNAME, PROFILE_IMG, MEMBER_NO,
                        
                           FROM "BOARD" B
                           JOIN "MEMBER" USING(MEMBER_NO)
                           WHERE BOARD_DEL_FL = 'N'
                           AND BOARD_CODE = #{boardCode}
                           AND BOARD_NO = #{boardNo}
                </select>
                  
                  
                  
               <!-- 조회수 증가 -->
                  <update id="updateReadCount">
                     UPDATE "BOARD" SET
                     READ_COUNT = READ_COUNT + 1
                     WHERE BOARD_NO = #{boardNo}
                  </update>
                  
            
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      

</mapper>