<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 --><mapper namespace="com.farmers.oliview.together.mapper.TogetherMapper">


   <!--전체 게시글 수 조회-->
   <select id="getListCount" resultType="_int">
      SELECT COUNT(*) FROM "TOGETHER"
      WHERE BOARD_DEL_FL = 'N'
   </select>

  



   <!-- 게시글 상세 조회 -->
   <select id="boardDetail" resultType="Together">

      SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, READ_COUNT,
      TO_CHAR(BOARD_WRITE_DATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS')
      BOARD_WRITE_DATE,
      TO_CHAR(BOARD_UPDATE_DATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS')
      BOARD_UPDATE_DATE,
      MEMBER_NICKNAME, PROFILE_IMG, MEMBER_NO,

      FROM "BOARD" B
      JOIN "MEMBER" USING(MEMBER_NO)
      WHERE BOARD_DEL_FL = 'N'
      AND BOARD_CODE = #{boardCode}
      AND BOARD_NO = #{boardNo}
   </select>


   <!-- 조회수 증가 -->
   <!--                  <update id="updateReadCount">
                     UPDATE "BOARD" SET
                     READ_COUNT = READ_COUNT + 1
                     WHERE BOARD_NO = #{boardNo}
                  </update> -->


</mapper>