* {
  font-family:'GmarketSansMedium';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  overflow: auto;
}

main{
  width: 144rem;
  height: 100vh;
  overflow: auto;
}

main::-webkit-scrollbar{
  display: none;
}

/* ========================================================================================= */

/* 전체 컨테이너 */
.con{
  display: flex;
  justify-content: center;
  width: 100%;
}

/* 제목 사이즈 재정의 */
.title{
  font-size: 7rem; 
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
}

h1{
  padding: 20px 20px;
  text-align: left;
  font-size: xx-large;
}


/* 대화목록 리스트 */
li{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0.5rem;

  padding: 0.5rem 0 0.5rem;

  border-top: 1px solid rgb(202, 200, 200);
  border-bottom: 1px solid rgb(202, 200, 200);

  height: 10rem;
}



/* 프로필사진 사이즈 조절 */
li > img{
  width: 8rem;
}

/* 최근 메세지 */
.recent-message{
  overflow: hidden;
  width: 75rem;

  font-family: 'GmarketSans';
  font-weight: 300;
	font-size: 2rem;
}


/* 채팅목록 */
.chatting-area{
  width: 100%;
  cursor: pointer;
}


/* 채팅 프로필 이미지 */
.item-header{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.boardImg{
  width : 8rem;
  height : 8rem;
}


/* item-body 채팅 내용부분 */
.item-body{
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.profile{
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
}

/* 채팅 타이틀 */
.boardTitle{
  font-weight: bold;
  font-size: 2rem;
  margin: 0.5rem 0;
}

/* 메세지 제목, 내용 */
.chatting-item > div{
  margin-left: 2rem;
}

.chat-status{
  display: flex;
  justify-content: end;
  align-items: end;

  height: 2rem;
  margin-right: 0.4rem;
}

/* 메세지 보낸 시간 */
.recent-send-time{
  color: slategray;
  font-family: 'GmarketSans';
  font-weight: 300;

	font-size: 1.5rem;
}

/* 메세지 알림 */
.not-read-count{
  margin-left: 1rem;
  color: white;

	font-size: 1.5rem;
  text-align: center;

  background-color: #66B97E;
  width: 2rem;
  height: 2rem;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}