<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지 - 내가 쓴 글</title>
  <link rel="stylesheet" th:href="@{/css/myPage/myPage-style.css}">
  <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
  <main>
    <!-- 로그인 후 header -->
    <header>
      <section>
        <img src="/images/logoSample.png" alt="로고이미지" width="80rem">
      </section>

      <section>
        <article>
          <a href="#">로그아웃</a>
        </article>

        <article>
          <a href="profile">마이페이지</a>
        </article>

        <article>
          <a href=""><img src="/images/profileImgEx.png" alt="프로필 이미지" width="50rem"></a>
        </article>
      </section>

    </header>

    <section class="container">
      
      <!---------- 사이드메뉴 ---------->
      <th:block th:replace="~{myPage/side-menu}"></th:block>


      <!---------- 내가 쓴 글 영역 ---------->
      <section class="my-article-container">
        <section id="my-article-container">

          <!-- 헤드 -->
          <section id="my-article-title-container">
            <article>내가 쓴 글</article>
            <article>내가 작성한 게시글을 확인할 수 있습니다</article>
          </section>

          <!-- 게시글 목록 -->
          <section id="my-article-index-container">

            <table class="myPage-table">
              <tr id="myPage-table-title-row">
                <td class="myPage-table-title">게시판</td>
                <td class="myPage-table-title">제목</td>
                <td class="myPage-table-title">작성일</td>
              </tr>
              <tr>
                <td class="myPage-table-td"><a href="">REVIEW</a></td><!-- 게시판 -->
                <td class="myPage-table-td-highlight"><a href="">스윗레시피</a></td><!-- 제목 -->
                <td class="myPage-table-td">2023-10-23 19:23</td><!-- 작성일 -->
              </tr>
              <tr>
                <td class="myPage-table-td"><a href="">REVIEW</a></td><!-- 게시판 -->
                <td class="myPage-table-td-highlight"><a href="">파파브레드</a></td><!-- 제목 -->
                <td class="myPage-table-td">2023-07-04 12:21</td><!-- 작성일 -->
              </tr>
              <tr>
                <td class="myPage-table-td"><a href="">같이 먹어요</a></td><!-- 게시판 -->
                <td class="myPage-table-td-highlight"><a href="">동네 밥친구 구해요</a></td><!-- 제목 -->
                <td class="myPage-table-td">2023-06-28 14:16</td><!-- 작성일 -->
              </tr>
              <tr>
                <td class="myPage-table-td"><a href="">REVIEW</a></td><!-- 게시판 -->
                <td class="myPage-table-td-highlight"><a href="">호남집</a></td><!-- 제목 -->
                <td class="myPage-table-td">2022-11-14 08:56</td><!-- 작성일 -->
              </tr>
            </table>

          </section>
        </section>
      </section>
    </section>
  </main>

  <!-- footer -->
  <th:block th:replace="~{common/footer}"></th:block>


</body>
</html>