<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지 - 내가 쓴 댓글</title>
  <link rel="stylesheet" th:href="@{/css/myPage/myPage-style.css}">
  <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
  <!-- commentList, pagination 변수 선언 -->
  <main th:with="commentList=${map.commentList}, pagination=${map.pagination}">
    <!-- header -->
    <th:block th:replace="~{common/header}"></th:block>

    <section class="container">

      <!---------- 사이드메뉴 ---------->
      <th:block th:replace="~{myPage/side-menu}"></th:block>


      <!---------- 내가 쓴 댓글 영역 ---------->
      <section class="my-article-container">
        <section id="my-article-container">


          <!-- 헤드 -->
          <section id="my-article-title-container">
            <article>내가 쓴 댓글</article>
            <article>내가 작성한 댓글을 확인할 수 있습니다</article>
          </section>

          <!-- 댓글 목록 -->
          <section id="my-article-index-container">

            <table class="myPage-table">
              <tr id="myPage-comment-table-title-row">
                <td class="myPage-table-title">내용</td>
                <td class="myPage-table-title">작성일</td>
              </tr>

              <!-- 작성한 댓글이 없을 때 -->
              <tr th:if="${#lists.size(commentList) == 0}">
                <td class="myPage-table-title" colspan="2">작성한 댓글이 존재하지 않습니다.</td>
              </tr>

              <!-- 댓글이 존재할 때 -->
              <th:block th:unless="${#lists.size(commentList) == 0}">
                <tr th:each="comment : ${commentList}" th:object="${comment}">
                  <td class="myPage-table-td-comment">
                    <!-- 내용 안에 선택체크박스 section-->
                    <section>
                      <input type="checkbox" name="" id="">
                    </section>
                    <!-- 댓글 내용 section -->
                    <section>
                      <label id="comment-contents">
                        <a th:href="@{{url}(url=*{url}, cp=${pagination.currentPage})}" th:text="*{commentContent}">댓글 내용</a>
                      </label>
                      <a th:href="@{{url}(url=*{url}, cp=${pagination.currentPage})}" id="comment-placeName" th:text="*{reviewTitle}">게시글 제목<span class="myPage-table-td-comment-highlight">[[[*{commentCount}]]]</span></a>
                    </section>
                  </td>
                  <td class="myPage-table-td" th:text="*{commentWriteDate}"> 작성일 2023-10-23 19:23</td>
                </tr>
              </th:block>

              <tr>
            </table>

          </section>
        </section>
      </section>
    </section>
  </main>


  <!-- footer -->
  <th:block th:replace="~{common/footer}"></th:block>


</body>
</html>