<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지 - 내가 쓴 댓글</title>
  <link rel="stylesheet" th:href="@{/css/myPage/myPage-style.css}">
  <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
  <main>
    <!-- header -->
    <th:block th:replace="~{common/header}"></th:block>

    <section class="container">

      <!---------- 사이드메뉴 ---------->
      <th:block th:replace="~{myPage/side-menu}"></th:block>


      <!---------- 내가 쓴 댓글 영역 ---------->
      <section class="my-article-container">
        <section id="my-article-container">

          <!-- 헤드 -->
          <section id="my-article-title-container">
            <article>내가 쓴 댓글</article>
            <article>내가 작성한 댓글을 확인할 수 있습니다</article>
          </section>

          <!-- 게시글 목록 -->
          <section id="my-article-index-container">

            <table class="myPage-table">
              <tr id="myPage-comment-table-title-row">
                <td class="myPage-table-title">내용</td>
                <td class="myPage-table-title">작성일</td>
              </tr>
              <tr>
                <td class="myPage-table-td-comment">
                  <!-- 내용 안에 선택체크박스 section-->
                  <section>
                    <input type="checkbox" name="" id="">
                  </section>
                  <!-- 댓글 내용 section -->
                  <section>
                    <label id="comment-contents">
                      <a href="">여기 정말 맛있어요 강추합니다!</a>
                    </label>
                    <a href="" id="comment-placeName">레이몬드 제과점 <span class="myPage-table-td-comment-highlight">[2]</span></a>
                  </section>
                </td>
                <td class="myPage-table-td">2023-10-23 19:23</td><!-- 작성일 -->
              </tr>

              <tr>
                <td class="myPage-table-td-comment">
                  <!-- 내용 안에 선택체크박스 section-->
                  <section>
                    <input type="checkbox" name="" id="">
                  </section>
                  <!-- 댓글 내용 section -->
                  <section>
                    <label id="comment-contents">
                      <a href="">제가 정말 리뷰 안쓰는 사람인데 세상에 여긴 안쓸수가 없네요 정말 아니 이걸 어떻게 표현해야
할지 모르겠는데 정말 너무 맛있고 입에서 사르르 녹아요 태어나서 이런고기는 처음먹어보네요
특히 안창살이미쳤어요 사장님 번창하시고 오래오래 장사해주세요 또 친절하셔서 더 좋았네요!</a>
                    </label>
                    <a href="" id="comment-placeName">우소우소 <span class="myPage-table-td-comment-highlight">[5]</span></a>
                  </section>
                </td>
                <td class="myPage-table-td">2023-10-23 19:23</td><!-- 작성일 -->
              </tr>
            </table>

          </section>
        </section>
      </section>
    </section>
  </main>


  <!-- footer -->
  <th:block th:replace="~{common/footer}"></th:block>


</body>
</html>