<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지 - 내가 쓴 댓글</title>
  <link rel="stylesheet" th:href="@{/css/myPage/myComment-style.css}">
  <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
  <!-- commentList, pagination 변수 선언 -->
  <main th:with="commentList=${map.commentList}, pagination=${map.pagination}">
    <!-- header -->
    <th:block th:replace="~{common/header}"></th:block>

    <section class="container">

      <!---------- 사이드메뉴 ---------->
      <th:block th:replace="~{myPage/side-menu}"></th:block>


      <!---------- 내가 쓴 댓글 영역 ---------->
      <section class="my-article-container">
        <section id="my-article-container">


          <!-- 헤드 -->
          <section id="my-article-title-container">
            <article>내가 쓴 댓글</article>
            <article>내가 작성한 댓글을 확인할 수 있습니다</article>
          </section>

          <!-- 댓글 목록 -->
          <section id="my-article-index-container">

            <table class="myPage-table">
              <tr id="myPage-comment-table-title-row">
                <td class="myPage-table-title">내용</td>
                <td class="myPage-table-title">작성일</td>
              </tr>

              <!-- 작성한 댓글이 없을 때 -->
              <tr th:if="${#lists.size(commentList) == 0}">
                <td class="myPage-table-title" colspan="2">작성한 댓글이 존재하지 않습니다.</td>
              </tr>

              <!-- 댓글이 존재할 때 -->
              <th:block th:unless="${#lists.size(commentList) == 0}">
                <tr th:each="comment : ${commentList}" th:object="${comment}">
                  <td class="myPage-table-td-comment">
                    <!-- 내용 안에 선택체크박스 section-->
                    <section>
                      <input type="checkbox" name="" id="">
                    </section>
                    <!-- 댓글 내용 section -->
                    <section>
                      <label id="comment-contents">
                        <a th:href="@{{url}(url=*{url}, cp=${pagination.currentPage})}" th:text="*{commentContent}">댓글 내용</a>
                      </label>
                      <a th:href="@{{url}(url=*{url}, cp=${pagination.currentPage})}" id="comment-placeName" th:text="*{reviewTitle}">게시글 제목<span class="myPage-table-td-comment-highlight">[[[*{commentCount}]]]</span></a>
                    </section>
                  </td>
                  <td class="myPage-table-td" th:text="*{commentWriteDate}"> 작성일 2023-10-23 19:23</td>
                </tr>
              </th:block>
            </table>

            <!-- 페이지네이션 // 댓글글 있을때만 보이게 함 -->
            <div class="pagination-area" th:if="${#lists.size(commentList) > 0}">
              <ul class="pagination">

                <!-- 첫 페이지로 이동 -->
                <li>
                  <a th:href="@{/myPage/my-comment(cp=1)}">&lt;&lt;</a>
                </li>

                <!-- 이전 목록 마지막 번호로 이동 -->
                <li>
                  <a th:href="@{/myPage/my-comment(cp=${pagination.prevPage})}">&lt;</a>
                </li>


                <!-- 특정 페이지로 이동 -->
                <!-- 타임리프에서 특정 범위만큼 반복하기 (1~10) -->
                <!-- #numbers.sequence(1,10, 1) : 1~10까지 1씩 증가하며 차례대로 추가한 리스트 생성 -->
                <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">

                  <!-- 현재 보고있는 페이지 -->
                  <li th:if="${i == pagination.currentPage}">
                    <a class="current" th:text="${i}">1</a>
                  </li>

                  <!-- 보고있지 않은 페이지 -->
                  <li th:unless="${i == pagination.currentPage}">
                    <a th:href="@{/myPage/my-comment(cp=${i})}" th:text="${i}">2</a>
                  </li>
                </th:block>

                <!-- 다음 목록 시작 번호로 이동 -->
                <li><a th:href="@{/myPage/my-comment(cp=${pagination.nextPage})}">&gt;</a></li>

                <!-- 끝 페이지로 이동 -->
                <li><a th:href="@{/myPage/my-comment(cp=${pagination.maxPage})}">&gt;&gt;</a></li>
              </ul>
            </div>


          </section>
        </section>
      </section>
    </section>
  </main>


  <!-- footer -->
  <th:block th:replace="~{common/footer}"></th:block>


</body>
</html>