<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지 - 내프로필</title>
  <link rel="stylesheet" th:href="@{/css/myPage/profile-style.css}">
  <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
  <main>
    <!-- header -->
    <th:block th:replace="~{common/header}"></th:block>

    <section class="container" id="profile-container">

      <!---------- 사이드메뉴 ---------->
      <th:block th:replace="~{myPage/side-menu}"></th:block>


      <!---------- 내 프로필 내용 ---------->
      <section class="my-profile-container">
        <section id="my-profile-container">

          <!-- 헤드 -->
          <section id="my-profile-title-container">
            <article>내 프로필</article>
            <article>대표 프로필과 별명, 개인정보를 수정할 수 있습니다.</article>
          </section>

          <!-- 프로필 정보 -->
          <section id="my-profile-info-container">
            <!-- 헤드라인 -->
            <article class="my-profile-headline">프로필 정보</article>

            <!-- 프로필정보, 버튼 -->
            <section id="my-profile-info-container-2">
              <form action="info/profile" method="POST" name="myPageFrm" id="updateProfile" th:object="${session.loginMember}">
                <!-- 프로필정보 -->
                <section id="profile"> <!-- 아나!!!! -->
                  <section class="myPage-row">
                    <article><p>닉네임</p></article>
                    <section id="nickNameBox">
                      <input type="text" name="memberNickname" id="memberNickname" th:value="*{memberNickname}">
                      <span id="nickMessage"></span>
                    </section>
                  </section>
                </section>
              </form>

              <section class="myPage-row">
                <article><p>프로필 사진</p></article>

                <!-- 프로필 이미지 수정 파일 제출 -->
                <form action="profile" method="POST" name="myPageFrm" id="profileImgFrm" enctype="multipart/form-data">
                  <section id="profile-img-change">

                    <!-- 프로필 이미지가 없으면 기본 이미지(기본이미지는 STS messages.pro에 기재) -->
                    <img th:if="${session.loginMember.memberProfile == null}"
                      th:src="#{user.default.image}" alt="프로필 이미지" width="55rem" id="profileImg">
          
                    <!-- 프로필 이미지가 있으면 프로필 이미지 -->
                    <img th:unless="${session.loginMember.memberProfile == null}"
                      th:src="${session.loginMember.memberProfile}" alt="프로필 이미지" width="55rem" height="55rem"  id="profileImg">
                    
                    <div class="profile-btn-area">
                      <label for="imageInput">이미지 선택</label>
                      <input type="file" name="profileImg" id="imageInput" accept="image/*">
                      
                      <button type="button" id="deleteImageBtn">삭제</button>
                      <button>사진 변경</button>
                    </div>
                  </section>
                </form>

              </section>
            </section>

            <!-- 적용/취소버튼  -->
            <section class="btns" id="myprofile-fitst-btns">
              <button type="button" id="applyBtn" onclick="submitFrm()">적용</button> <!-- 적용 누르면 닉네임/프로필사진 비동기로 적용되게끔 -->
              <button type="button" id="cancel-nick-Btn">취소</button> <!-- 취소 누르면 모든 변경사항 해제 -->
            </section>

          </section>
        </section>
      


          <!-- 필수 회원 정보 -->
          <section id="my-profile-essential-info-container">
            <!-- 헤드라인 -->
            <section class="my-profile-headline">필수 회원 정보</section>

            <!-- 필수회원정보 내용 -->
            <form action="info/info" method="POST" name="myPageFrm" id="updateInfo" th:object="${session.loginMember}">
              <section id="my-profile-essential-info-container-2">
                <section class="myPage-row">
                  <article><p>이름</p></article>
                  <section><p th:text="*{memberName}">이미자</p></section>
                </section>
  
                <section class="myPage-row">
                  <article><p>아이디</p></article>
                  <section><p th:text="*{memberId}">heaven01</p></section>
                </section>
  
                <section class="myPage-row">
                  <article><p>비밀번호</p></article>
                  <section><button type="button" id="modify-pw-btn">비밀번호 수정</button></section>
                </section>
  
                <section class="myPage-row">
                  <article><p>이메일</p></article>
                  <section id="emailBox">
                    <input type="email" th:value="*{memberEmail}" name="memberEmail" id="memberEmail">
                    <span id="emailMessage"></span>
                  </section>
                </section>
              </section>
              
              <!-- 적용/취소버튼  -->
              <section class="btns">
                <button>적용</button>
                <button type="button" id="cancel-email-Btn">취소</button>
              </section>

            </form>
              
          </section>
      </section>
    </section>
  </main>


  <!-- footer -->
  <th:block th:replace="~{common/footer}"></th:block>


  <script th:inline="javascript">

    // 비밀번호 수정 버튼 클릭 시 수정 페이지로 포워드
    const modifyPwBtn = document.getElementById("modify-pw-btn");

    modifyPwBtn.addEventListener("click", ()=>{
      location.href="/myPage/changePw";
    })

    // message.properties의 값을 얻어와 전역 변수로 선언
    const defaultImage  = /*[[#{user.default.image}]]*/ "기본이미지";

    // 로그인한 회원의 프로필 이미지 얻어오기 (없으면 null)
    const loginMemberProfileImg = /*[[${session.loginMember.memberProfile}]]*/ "프로필 이미지";


    // 로그인한 회원의 닉네임, 이메일 얻어오기
    const loginMemberNickname = /*[[${session.loginMember.memberNickname}]]*/ "닉네임";
    const loginMemberEmail = /*[[${session.loginMember.memberEmail}]]*/ "이메일";




  </script>
  <script src="/js/myPage/myPage.js"></script>

</body>
</html>