<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지 - 회원탈퇴</title>
  <link rel="stylesheet" th:href="@{/css/myPage/myPage-style.css}">
  <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
  <main>
    <!-- header -->
    <th:block th:replace="~{common/header}"></th:block>

    <section class="container">

      <!---------- 사이드메뉴 ---------->
      <th:block th:replace="~{myPage/side-menu}"></th:block>

      <!---------- 탈퇴안내 영역 ---------->
      <section class="my-article-container">
        <section id="my-article-container">

          <!-- 헤드 -->
          <section id="my-article-title-container">
            <article>탈퇴 안내</article>
            <article>회원탈퇴를 신청하기 전에 안내 사항을 꼭 확인해주세요.</article>
          </section>

          <!-- 글 내용 -->
          <section id="my-article-index-container">
            
            <article class="myPage-secession-contents">
              <p class="myPage-secession-contents-head">
                · 사용하고 계신 아이디 <span th:text="${session.loginMember.memberId}">(member01)</span>은/는 탈퇴할 경우 재사용 및 복구가 불가능합니다.
              </p>
              <p class="myPage-secession-contents-body">
                탈퇴한 아이디는 본인과 타인 모두 재사용 및 복구가 불가하오니 신중하게 선택하시기 바랍니다
              </p>

              <p class="myPage-secession-contents-head">
                · 탈퇴 후 회원정보 서비스 이용기록은 모두 삭제됩니다.
              </p>
              <p class="myPage-secession-contents-body">
                회원정보 및 서비스 이용기록은 모두 삭제되며, 삭제된 데이터는 복구되지 않습니다.
              </p>
              <p class="myPage-secession-contents-body">
                삭제되는 내용을 확인하시고 필요한 데이터는 미리 백업을 해주세요.
              </p>


              <p class="myPage-secession-contents-head">
                · 탈퇴 후에도 게시판형 서비스에 등록한 게시물은 그대로 남아 있습니다.
              </p>
              <p class="myPage-secession-contents-body">
                등록한 게시글 및 댓글은 탈퇴 시 자동 삭제되지 않고 그대로 남아 있습니다.
              </p>
              <p class="myPage-secession-contents-body">
                삭제를 원하는 게시글이 있다면 반드시 탈퇴 전 비공개 처리하거나 삭제하시기 바랍니다.
              </p>
              <p class="myPage-secession-contents-body">
                탈퇴 후에는 회원정보가 삭제되어 본인 여부를 확인할 수 있는 방법이 없어, 게시글을 임의로 삭제해드릴 수 없습니다.
              </p>

              <br><br>
              <hr>
  
              <p class="myPage-secession-contents-footer">
                탈퇴 후에는 아이디 <span th:text="${session.loginMember.memberId}">member01</span> 로 다시 가입할 수 없으며 아이디와 데이터는 복구할 수 없습니다. <br>
                게시판형 서비스에 남아 있는 게시글은 탈퇴 후 삭제할 수 없습니다.
              </p>
              
              <label><input type="checkbox" name="" id="agreeCheck"> 안내 사항을 모두 확인하였으며, 이에 동의합니다. </label>
              
              <form action="secession" method="POST" class="secession-btn">
                <button id="confirm-btn">확인</button>
              </form>
              
            </article>

          </section>
        </section>
      </section>
    </section>
  </main>

  
  <!-- footer -->
  <th:block th:replace="~{common/footer}"></th:block>


</body>


<script>

// 체크 유효성 검사
const check = {
  agreeCheck : false
};

const agreeCheck = document.getElementById("agreeCheck");

// 동의를 체크하면 true로 변경

agreeCheck.addEventListener("change", ()=>{

  // 동의 체크시 유효성 검사 트루
  if(agreeCheck.checked){
      check.agreeCheck = true;
      console.log("체크됨!!");

  } else {
    check.agreeCheck = false;
    console.log("체크안함!!");
  }
})

// 탈퇴 버튼을 클릭했을 때 _ 동의되어있으면 탈퇴, 아니면 그대로!



if(agreeCheck)


})




if(confirm("정말 탈퇴 하시겠습니까?")){
    location.href="";
  } else {
    location.href="";
  }



// 전체동의 클릭 시
agreeAll.addEventListener("change", ()=>{

// 전체동의가 선택되어있다면 _ 유효성검사, 체크박스 표시
if(agreeAll.checked){
    agreements.agreeSite = true;
    agreements.agreePersonal = true;
    agreements.agreeChoice = true;

    agreeSite.checked = true;
    agreePersonal.checked = true;
    agreeChoice.checked = true;

// 전체동의가 해제되어있다면_ 전체 체크박스 해제
} else {
    agreements.agreeSite = false;
    agreements.agreePersonal = false;
    agreements.agreeChoice = false;

    agreeSite.checked = false;
    agreePersonal.checked = false;
    agreeChoice.checked = false;
}
})



</script>


</html>