<!---------- 사이드메뉴 ---------->
<section id="side-menu-container">

  <!-- 사이드메뉴 윗칸 -->
  <section>

    <!-- 프로필 정보 -->
    <section id="profileInfo-container">
      <section id="profile-img">
        <a href="/myPage/profile">
          <!-- 프로필 이미지가 없으면 기본 이미지(기본이미지는 STS messages.pro에 기재) -->
          <img th:if="${session.loginMember.memberProfile == null}"
           th:src="#{user.default.image}" alt="프로필 이미지" width="55rem">

          <!-- 프로필 이미지가 있으면 프로필 이미지 -->
          <img th:unless="${session.loginMember.memberProfile == null}"
           th:src="${session.loginMember.memberProfile}" alt="프로필 이미지" width="55rem"  height="55rem">
        </a>
      </section>

      <section id="member-id" th:object="${session.loginMember}">
        <p th:text="*{memberNickname}">미쉘가잇..</p> <!-- 멤버 아이디, 4글자 넘어가는건 ... 으로! -->
      </section>

      <section id="edit-btn">
        <a href="profile"><button>EDIT</button></a>
      </section>

    </section>

    <!-- 채팅, 로그아웃 버튼 -->
    <section id="btns-container">
      <button id="chatting-btn"><a href="/together/chat">채팅</a></button>
      <button id="logout-btn">로그아웃</button>
    </section>

    <!-- 마이페이지 타이틀 -->
    <article id="myPage-title">
      <p>마이페이지</p>
    </article>

  </section>


  <!-- 목차 -->
  <section>
    <section id="mypage-index-container">
      <!-- 클릭시 bold처리 넣기! -->
      <article><a href="profile"><p>내 프로필</p></a></article>
      <article><a href="my-article"><p>내가 쓴 글</p></a></article>
      <article><a href="my-comment"><p>내가 쓴 댓글</p></a></article>
      <article><a href="choice-article"><p>찜한 글</p></a></article>
      <article><a href="secession"><p>회원 탈퇴</p></a></article>

    </section>
  </section>

</section>





<script>

// 로그아웃 버튼 클릭시 포워드로 이동
document.getElementById("logout-btn").addEventListener("click", ()=>{

  console.log("버튼클릭!");
  location.href = "/member/logout";
})

</script>
